@import "@{static}/pagescript/opportunity/base/less/base";
@import "@{static}/modules/ui/loading/less/mod";
@import "@{static}/pagescript/opportunity/base/less/widget/tabs";
@import "@{static}/pagescript/opportunity/base/less/widget/oppo-card";
@base-img-url: "@{staticurl}/pagescript/opportunity/base/img";

html {
	background-color: @whiteF2;
	min-height: 100%;
}

.tabs {
	.tab {
		display: inline-block;
		width: 49%;
	}
}

.panel-container {
	visibility: hidden;
	&.active {
		visibility: visible;
	}
}

.empty-promotion {
	height: 1.8rem;
}

.iscroll-panel {
	position: fixed;
	top: .44rem;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	.iscroll-panel-roller {
		padding-top: .1rem;
	}
	.avatar {
		background-size: cover !important;
	}
}

.loading {
	position: relative;
	height: .4rem;
}
