@import "@{static}/modules/base/less/page";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/qr";
@import "@{static}/pagescript/base/less/base";
@import "@{static}/pagescript/center/base/less/base";
#introduce{
	p{
		color:@f1;
		font-size:15px;
	}
}
.banner {
	position: relative;
	.holder {
		display: block;
		width: 100%;
	}
	.banner-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: none center center no-repeat;
		background-size: cover;
	}
}
.info{
	height:80px;
	margin-top:-37.5px;
	overflow:hidden;
	text-align:right;
	.logo{
		width:75px;
		height:75px;
		border:2px solid #fff;
		box-sizing:content-box;
		float:left;
		background-image:data-uri("../img/logo.png");
		background-position:center center;
		background-repeat:no-repeat;
		background-size: cover;
		overflow:hidden;
		img{
			width:100%;
		}
	}
	.stockcode{
		display:inline-block;
		color:@f3;
		font-size:12px;
		margin-top:50px;
		span{
			color:@sc;
			font-size:17px;
			margin-left:6px;
			vertical-align:middle;
		}
	}
}
#summary{
	padding:0 15px 0 20px;
	position:relative;
	font-size:0px;
	h2{
		color:@f1;
		font-size:16px;
		margin:11px 0 15px;
	}
	.tag{
		border:1px solid @f2;
		border-radius:4px;
		color:@f2;
		font-size:12px;
		padding:3px 7px;
		height:auto;
		line-height:1;
		margin:0 6px 15px 0;
	}
}
#introduce{
	padding-left:0px;
	padding-right:0px;
	margin:0 20px;
	border-bottom:1px solid @div;
}
#www{
	padding-left:0px;
	padding-right:0px;
	margin:0 20px;
	border-bottom:0;
	height:120px;
	a{
		color:@dc;
		font-size:15px;
	}
}

