@import "@{static}/modules/base/less/page";
@import "@{static}/modules/base/less/btns";
@import "@{static}/pagescript/innovation/base/less/scaffold";
.img1{
	width:617px;
	height:144px;
	margin:0 0 40px 88px;
	display:block;
}
.img2{
	width:312px;
	height:336px;
	margin:0 0 0 157px;
	display:block;
}
.container{
	width:100%;
	padding:30px 20px 25px;
	box-sizing:border-box;
	line-height:20px;
}
.intro{
	color:@f1;
	font-size:15px;
	padding-bottom:25px;
	border-bottom:1px solid #d0d0d0;
}
.con{
	padding-top:50px;
	color:@f1;
	font-size:15px;
	text-align:center;
	.step{
		.icon{
			width:15px;
			height:15px;
			display:inline-block;
			vertical-align:middle;
			margin-right:5px;
		}
		span{
			vertical-align:middle;
		}
	}
	.step-1{
		margin-bottom:25px;
		.icon{
			background:data-uri("../img/img_no_1.png") no-repeat left center;
			background-size:15px 15px;
		}
	}
	.step-2{
		margin:45px 0 25px;
		.icon{
			background:data-uri("../img/img_no_2.png") no-repeat left center;
			background-size:15px 15px;
		}
	}
	.link{
		color:@f1;
		font-size:21px;
		font-weight:bold;
	}
}
.logo{
	width:85px;
	height:30px;
	position:fixed;
	bottom:25px;
	left:50%;
	margin-left:-42.5px;
	img{
		width:100%;
	}
}
#sao{
	width:215px;
	margin:0 auto;
}

