@import "../../base/less/base";
@import "@{static}/modules/ui/loading/less/mod.less";
@import "@{static}/pagescript/event/base/less/usertype";
.ticket {
	.event-sumary {
		.title {
			font-size: 18px;
			margin-bottom: 13px;
			&:before {
				display: none;
				content: "";
				height: 18px;
				color: @bg-1;
				margin-right: 10px;
				vertical-align: 2px;
				line-height: 18px;
				font-size: 12px;
				padding: 0 5px;
				border-radius: 4px;
				background-color: @dc;
			}
			&.official:before {
				display: inline-block; 
				content: "官方";
			}
			&.personal:before {
				display: inline-block; 
				content: "个人";
			}
		}
		.time,
		.addr {
			font-size: 13px;
			color: @f2;
		}
		.time {
			margin-bottom: 8px;
		}
		.addr {
			margin-bottom: 20px;
		}
	}
	.event-sumary,
	.event-initiator {
		margin: 0 20px;
	}
	.event-initiator {
		position: relative;
		border-top: 1px solid @div;
		padding: 16px 0 0 62px;
		min-height: 35px;
		.avatar {
			.usertype();
			position: absolute;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			left: 0;
			top: 10px;
			background: no-repeat center center;
			background-size: cover;
		}
		.name {
			font-size: 15px;
		}
		.info {
			font-size: 13px;
			color: @f3;
		}
	}
	
	.qr-container {
		background: @bg-2;
		margin-top: 20px;
		padding: 30px 0;
		.qr-code {
			position: relative;
			width: 152px;
			height: 152px;
			margin: 0 auto;
			background: no-repeat center center linear-gradient(135deg, #2CC892 0%, #30AAD0 100%);
			padding: 3px;
			&>.inner {
				box-sizing: border-box;
				height: 100%;
				background-color: @bg-2;
				padding: 10px;
				img {
					display: none;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.event-finish,
   	.event-canceled	{
		margin-top: 20px;
		padding: 30px 0;
		height: 158px;
		background: no-repeat center center url("@{staticurl}/pagescript/event/checkin/base/img/event-end-icon.svg");
		background-color: @bg-2;
		background-size: 110px;
	}

	.event-canceled {
		background-image: url("@{staticurl}/pagescript/event/checkin/base/img/event-canceled-icon.svg");
	}
}


.footer {
	margin: 14px 10px 25px;
	border-top: 1px solid fade(@bg-1,20%);
	padding-top: 14px;
	text-align: center;
	font-size: 13px;
	color: fade(@bg-1,70%);
}

.checkin-status {
	margin-top: 18px;
	text-align: center;
	font-size: 21px;
	color: @bg-1;
	.icon-time {
		margin-right: 4px;
		vertical-align: -1px;
	}
	.icon-tick {
		font-size: 14px;
		margin-right: 4px;
		color: #70ffd3;
		vertical-align: 1px;
	}
}
