.container {
    padding: 25px 15px 15px;
}
.bg-img {
    width: 84px;
    height: 75px;
    background: data-uri('@{static}/pagescript/comment/base/img/img_login_profile_a.png') no-repeat;
    background-size: 100%;
    margin: 0 auto;
}
.help {
    margin: 25px auto 40px;
    .font-main();
    span {
        font-weight: 700;
    }
}