@import '@{static}/modules/base/less/my-normalize';
@import "../../base/less/base";
@import "@{static}/modules/ui/usertype/less/main";

.landing {
    .backgroundImage(1);
    padding: 0.1px;
}

.qrcode-box{
    background: #fff;
    border-radius: 8px;
    margin: 180px 8.5% 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 8%);
    overflow: hidden;
    .qrcode-title{
        font-size: .18rem;
        color: #111;
        margin-bottom: 30px;
        font-weight: 400;
        line-height: 1em;
    }
    .qrcode-title-big{
        margin: -30px -30px 40px;
        padding: 10px;
        font-weight: 400;
        font-size: .18rem;
        color: #fff;
        background: #6453FF;
        line-height: 1.2;
    }
    .qrcode-tips{
        font-size: .13rem;
        color: #6B6B6B;
        margin-bottom: 8px;
        line-height: 1.2em;
    }
    .qrcode-pic{
        margin: 0 auto 10px;
        width: 160px;
        height: 160px;
    }
}

.footer-info{
    font-size: .13rem;
    text-align: center;
}

.condidate-box{
    margin-top: 170px;
    text-align: center;
    width: 100%;
    padding: 0.5px;
    .condidate-avatar{
        .avatar();
    }
    .condidate-slogan{
        text-align: center;
        font-size: .18rem;
        color:#fff;
        line-height: .28rem;
        font-weight: 400;
        margin: 20px auto 40px;
        padding: 0 60px;
        & mark{
            color: #FFC026;
            background: none;
            font-weight: 400;
        }
        & img {
            width: 100%;
            margin: 0 0 40px;
        }
    }
}

.enter-btn{
    .btn();
    margin-bottom: 40px;
}
