@import "@{static}/modules/base/less/wx-normalize";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/mask";
@import "@{static}/pagescript/quiz/base/less/base";

.container {
	background-color: @bg-1;
	padding: 0 0 10px;
}

.question {
	display: none;
	&.active {
		display: block;
	}
}

.set-mask();
.mask {
	background: fade(@bg-3,70%);
	text-align: center;
	.result-icon {		
		margin-top: 150px;
		display: inline-block;
		width: 110px;
		height: 110px;
		background-size: 100% 100%;
		&.true {
			background-image: data-uri('../img/img_status_b.png');
		}
		&.false {
			background-image: data-uri('../img/img_status_c.png');			
		}
	}
	.result-text {
		display: block;
		text-align: center;
		margin-top: 20px;
		font-size: 15px;
		font-weight: 700;
		color: @bg-1;
	}
} 

//comment area
.comment-area {
	display: none;
	margin-top: 35px;
}
.fs(@fs:15px){
	font-size:@fs;
}
.fb(){
	font-weight:bold;
}
.btn-box{
	padding:0 15px;
}
::-webkit-placeholder{
	color:@f3;
	.fs();
}
::placeholder{
	color:@f3;
	.fs();
}
.comment-box{
	margin:40px 0 15px;
	width:100%;
	textarea{
		color:@f1;
		width:100%;
		height:70px;
		line-height:24px;
		padding:10px;
		box-sizing:border-box;
	}
}