@import "@{static}/modules/base/less/wx-normalize";
@import "@{static}/modules/ui/showMsg/less/main";

@sc: #F7B84F;
@lc: #7FBCEE;
@rc: #FF7B7B;

* {
	line-height: 1;
}

.container {
    padding: 0px;
}
