@import "@{static}/pagescript/event/base/less/base";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/qr";
@import "@{static}/modules/ui/carousel/less/main";
@import "@{static}/modules/ui/showMsg/less/main";
@import "@{static}/modules/ui/popup/less/popup";
@import "@{static}/pagescript/event/base/less/list";
@import "@{static}/pagescript/event/base/less/download-banner";
@import "@{static}/pagescript/event/base/less/usertype";

p {
	margin: 0;
}
.fr{float:right;}
.fl{float:left}
.desc .text p {
	margin: 0.8em 0;
}

.pop-window {
	.btn-cancel {
		width: 100% !important;
	}
}

.event-title {
	p {
		padding: 15px 15px 8px;
		color: @f1;
		font-size: 18px;
	}
}

.banner {
	position: relative;
	&:after {
		position: absolute;
		content: "个人";
		right: 10px;
		bottom: 10px;
		width: 32px;
		height: 20px;
		text-align: center;
		border-radius: 4px;
		line-height: 20px;
		background-color: @dc;
		color: @bg-1;
		font-size: 11px;
	}
	&.banner-official {
		&:after {
			content: "官方";
		}
	}
	.holder {
		display: block;
		width: 100%;
	}
	.banner-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: none center center no-repeat;
		background-size: cover;
		.lab{
			position:absolute;
		 	left: 0px;
		 	top: 10px;
		 	font-size:13px;
		 	color:@bg-1;
		 	margin:0;
		 	padding:0;
		 	width:73px;
		 	height:22px;
		 	line-height:22px;
		 	padding-left:8px;
		 	box-sizing:border-box;
		}
		.official{
		 	background:data-uri('../img/img_label_official.png') no-repeat 0 0;
		 	background-size:100%;
		}
		.personal{
		 	background:data-uri('../img/img_label_personal.png') no-repeat 0 0;
		 	background-size:100%;
		}
	}
}

.main {
	padding-bottom: 110px;
	.title {
		color: @f2;
		font-size: 13px;
		font-weight: 700;
		position: relative;
		.icon {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto 0;
		}
	}	
	hr {
		margin: 20px 0 0;
		height: 1px;
		border: none;
		border-top:1px solid @div;
	}
}

.desc {
	padding: 15px 15px 0;
	.title {
		padding-left: 26px;
		 .icon {
			width: 14px;
			height: 16px;
			background: data-uri('../img/img_campaign_info.png') no-repeat;
			background-size: 100% auto;
		}
	}
	.text {
		color: @f1;
		font-size: 15px;
		margin-top: 18px;
		word-break:break-word;
	}
	.see-more {
		display: none;
		margin-top: 20px;
		color: @f3;
		font-size: 15px;
		text-align: center;
		&:after {
			content: "";
			display: inline-block;
			vertical-align: -1px;
			margin-left: 6px;
			width: 10px;
			height: 10px;
			background: data-uri('../img/img_arrow_down_grey.png');
			background-size: 100% 100%;    
		}
	}
	&.desc-official {
		margin-top:9px;
		padding-top: 0;
		.text {
			margin-top: 18px;
			&.collapse {			
				overflow : hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 6;
				-webkit-box-orient: vertical;
			}
		}
	}
	&.desc-personal {
		.profile {
			padding-left: 62px;
			position: relative;
			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 50px;
				height: 50px;
				margin: auto 0;
				border-radius: 50%;
			}
			.profile-name {
				color: @f1;
				font-size: 15px;
				font-weight: 700;
			}
			.profile-title {
				color: @f3;
				font-size: 12px;
				margin-top: 10px;
			}
		}
	}
}

.contact {
	padding: 30px 15px 0;
	.title {				
		padding-left: 25px;
		a {
			color: @dc;
			font-size: 15px;
			font-weight: 700;
		}
		.icon {
			width: 13px;
			height: 13px;
			background: data-uri('../img/img_campaign_phone.png') no-repeat;
			background-size: 100% auto;
		}
	}
	&.contact-official {
		hr {
			display: none;
		}
	}
}

.guest-board {
	position: relative;
	margin-top: 20px;
	padding: 20px 0px 20px 15px;
	background-color: @bg-2;
    box-sizing: border-box;
    overflow: hidden;
    &:after {
    	content: "";
    	position: absolute;
    	left: 0;
    	top: 0;
    	bottom: 0;
    	width: 10px;
    	background-color: @bg-2;
    }
	.title {				
		padding-left: 29px;
		 .icon {
			width: 17px;
			height: 14px;
			background: data-uri('../img/img_campaign_guest.png') no-repeat;
			background-size: 100% auto;
		}
	}
	.guest-group {
		margin-top: 15px;
		position: relative;
		display: none;
		.guest {
			width: 128px;
			height: 140px;
			background-color: @bg-1;
			border: 1px solid @div;
			border-radius: 4px;
			margin-right: 10px;
			float: left;
			.image {
				display: block;
				width: 50px;
				height: 50px;
				margin: 10px auto 0px;
				background: no-repeat center center;
				background-size: cover;
				border-radius: 50%;
			}
			.guest-name {
				margin-top: 10px;
				text-align: center;
				color: @f1;
				font-size: 15px;
				font-weight: 700;
				width: 100%;
   				overflow: hidden;
    			text-overflow: ellipsis;
    			white-space: nowrap;
			}
			.guest-title {
				margin: 10px;
				color: @f3;
				font-size: 12px;
				position: relative;
				line-height: 15px;
				.title-back {
					overflow : hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					text-align: left;
				}
				.title-up {
					position: absolute;
				    text-align: center;
				    background: #fff;
				    overflow: hidden;
				    height: 15px;
				    line-height: 15px;
				    top: 0;
				    left: 0;
				    width: 100%;
				}
			}

		}
	}
}

.schedule {
	padding: 15px 15px 0;
	line-height:40px;
	.title {				
		padding-left: 27px;
		font-weight:normal;
		 .icon {
		 	margin:0;
		 	top:11px;
			width: 15px;
			height: 15px;
			background: data-uri('../img/img_campaing_calender.png') no-repeat;
			background-size: 100% auto;
		}
	}
	p {
		color: @f1;
		font-size: 15px;
		line-height:30px;
		padding-top:5px;
		span {
			color: @f2;
			font-size: 13px;
			margin: 0 8px;
		}
	}
}

.location {
	padding:0 15px;
	min-height:40px;
	line-height:40px;
	.title {				
		padding-left: 27px;
		font-weight:normal;
		 .icon {
		 	margin:0;
		 	top:11px;
			left: 1px;
			width: 12px;
			height: 16px;
			background: data-uri('../img/img_campaing_pin.png') no-repeat;
			background-size: 100% auto;
		}
	}
	p {
		color: @f1;
		font-size: 15px;
		line-height:30px;
		padding-top:5px;
	}
}

.person{
	padding:0 15px;
	height:40px;
	line-height:40px;
	.title {				
		padding-left: 27px;
		font-weight:normal;
		 .icon {
		 	top:-2px;
			width: 15px;
			height: 15px;
			background: data-uri('../img/img_campaign_join.png') no-repeat;
			background-size: 100% auto;
		}
	}
	p {
		color: @f1;
		font-size: 15px;
	}
}

.price-board {	
	position: relative;
	padding: 0px 15px;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 10px;
		left: 16px;
		width: 12px;
		height: 15px;
		background: data-uri('../img/img_campaig_price.png') no-repeat;
		background-size: 100% auto;
	}
	.title {			
		height:37px;
		line-height:37px;
		padding-left: 27px;
		font-weight:normal;
	}
	.price {
		position: relative;
		margin-top: 20px;
		color: @f2;
		font-size: 15px;
		&.price-original{
			margin-top:0px;
		}
		&.price-haike {
			margin-top: -3px; color: #6B6B6B;
		}
		&.price-VIP {
			//color: @f1;
		}
		&.current {
			color: @f1;
			font-weight: bold;
		}
	}
	.price-sub{
		height:30px;
		line-height:30px;
		margin-top:0px;
		padding-left:27px;
	}
	p {
		color: @f1;
		font-size: 15px;
	}
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: fade(@bg-1,95%); 
	padding: 10px 10px 10px;
	box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.15);
	.btn-group {
		position: relative;
		.btn {
			display: inline-block;
		}
		.btn:nth-child(1) {
			width: 56%;
		}
		.btn:nth-child(2) {
			width: 40%;
		}
		.btn-client {
			width: 100% !important;
		}
	}
	.btn-like {
		position: absolute;
		top: 0;
		right: 0;
	}
	.btn[disabled] {
		.btn-disabled-style {
			background-color: @div;
			color: @bg-1;
			border: none;
			font-size: 15px;
			font-weight: 700;
		}	
		.btn-disabled-style;	
		&:active {
			.btn-disabled-style;
		}
	}
}


.qrCode {
	margin-top: -110px;
	p {
		margin: 20px 5px 7px;
		span{
			color: @f2;
			font-size:14px;
			padding:0 10px;
			background:#fff;
			display:inline-block;
			position:relative;
			z-index:1;
		}
		&:after{
			display:block;
			content:'';
			width:100%;
			height:1px;
			transform:scale(1,0.5);
			-webkit-transform:scale(1,0.5);
			background:@div;
			position:relative;
			z-index:0;
			top:-8px;
		}
	}
}

.label{
	margin:0 15px;
	padding:0 0 10px;
	border-bottom:1px solid @div;
	span{
		display:inline-block;
		box-sizing:border-box;
		color:@dc;
		border:1px solid @dc;
		min-width:48px;
		height:24px;
		line-height:22px;
		padding:0 10px;
		font-size:14px;
		border-radius:12px;
		margin:0 8px 5px 0;
	}
}
.tel-box{
	height: 40px;
	margin: 0 15px 0;
	position: relative;
	box-sizing: border-box;
	padding: 0 45px 0 27px;
	background: data-uri('../img/ico-plan.png') 0 13px no-repeat;
	background-size:16px 15px;
	.intro{
		color:@f1;
		font-size:14px;
		text-align: left;
		.official-prompt {
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto 0;
			font-size: 15px;
			height: 20px;
			line-height: 20px;
			color: @f2;
			strong {
				color: @f1;
			}
		}
		a{
			color:@dc;
		}
		.name,
		.job {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.name {
			color: @f2;
			font-size: 15px;
			strong {
				color: @f1;
			}
		}
		.job {
			margin-top: 5px;
			font-size: 13px;
			color: @f3;
		}
		.phone-btn {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 4px; box-sizing: border-box;
			margin: auto 0; padding-left:21px;
			width: 62px;
			height: 22px; border: 1px solid #3AA978; border-radius: 100px;
			background: no-repeat 6px 4px data-uri("../../base/img/icon-phone.png");
			background-size:12px 12px; color: #3AA978; font-size: 14px; line-height: 20px;
		}
	}
}

.avatar,
.head-img{
	.usertype();
}

.main{
	hr{
		margin-left:15px;
		margin-right:15px;
		width:auto;
	}
}


.footer.m {
	padding-top: 32px;
	hr {
		margin: 0 5px;
		&:after {
			content:"";
			position: relative;
			display: block;
			width: 90px;
			font-size: 14px; 
			line-height: 14px;
			color: @f2;
			top: -7px;
			margin: 0 auto;
			background-color: @bg-1;
			text-align: center;
		}	
		&.wx:after {
			content: "微信报名";
		}
		&.app:after {
			content: "APP报名";
		}
	}
	.wx-step {
		margin: 0;
    	padding: 32px 0 0;
		width: 290px;
		margin: 0 auto;
		text-align: left;
		.font-main();
		li {
			list-style: none;
			span:nth-child(1) {
				display: inline-block;
				margin-right: 6px;
				width: 12px;
				height: 12px;
				font-size: 12px;
				line-height: 12px;
				text-align: center;
				background-color: @sc;
				color: @bg-1;
				border-radius: 50%;
			}
			+li {
				margin-top: 15px;
			}
		}
		.step1 {
			&:after {
				content: "";
				display: inline-block;
				width: 98px;
				height: 18px;
				vertical-align: -4px;
				margin-left: 10px;
				background: data-uri('../img/img_wechat_zhisland_title.png') center center no-repeat;
				background-size: 100%;
			}
		}
		.step2 {
			span:nth-child(2) {
				color: @sc;
				font-size: 18px;
				font-weight: 700;
				vertical-align: -1px;
				margin-left: 10px;
			}
		}
	}
	#wx-submit {
		margin: 20px auto 35px;
	    height: 34px;
	    line-height: 34px;
	    width: 150px;
	    font-size: 13px;
	    border-radius: 20px;
	    &:before {
	    	content: "";
	    	display: inline-block;
	    	margin-right: 2px;
	    	width: 22px;
	    	height: 20px;
	    	vertical-align: middle;
	    	background: data-uri('../img/img_wechat_icon.png') center center no-repeat;
	    	background-size: 100%;
	    }
	}
	.app-footer {
		margin-top: 32px;
	}
}
.tel{
	color:@f2;
	font-size:12px;
	text-align:center;
	margin:12px 0 25px;
	a{
		color:@f2;
	}
}

.apply-member-info {
	position: relative;	
	margin: 20px 15px 0;
	font-size: 13px;
	.count {
		color: @f3;
	}
	.full-list {
		position: absolute;
		color: @dc;
		right: 0;
		&:after {
			content: "";
			display: inline-block;
			vertical-align: -2px;
			margin-left: 3px;
			width: 8px;
			height: 13px;
			background: no-repeat center center data-uri("@{static}/modules/base/img/img_arrow_right_green.png");
			background-size: cover;
		}
	}
	
}
.service {
	font-size: 12px;
	color: @f3;
	text-align: center;
	height: 52px;
	line-height: 52px;
}

.more-event {
	font-size: 13px;
	text-align: center;
	margin: 15px 0 6px;
	&.with-qr-code {
		margin-bottom: 20px;
	}
	a {
		color: @f2;
		&:after {
			content: "";
			display: inline-block;
			vertical-align: -3px;
			margin-left: 3px;
			width: 9px;
			height: 14px;
			background: no-repeat center center data-uri("@{static}/modules/base/img/img_arrow_right_grey.png");
			background-size: cover;
		}
	}
}	
.ico-official:after{position: absolute;
    content: "官方";
    right: 10px;
    bottom: 10px; z-index: 10;
    width: 32px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    line-height: 20px;
    background-color: #3aa978;
    color: #fff;
    font-size: 11px;}
.pr{ position: relative;}
.pa{ position: absolute;}
.price-board .price{ overflow: hidden; text-align: right;}
.price-board .price i.fr{ position: relative; top:-2px;float:none; padding-right:6px; font-style: normal; color: #FF8C31; font-size: 10px;}
.price-board .price-tip{margin-top:6px;padding-left:98px; }
.price-board .price-tip p{font-size: 13px; color: @f2;}
.price-board .price-tip span,.ico-btn-price{left:29px; top:1px; display: inline-block;height:16px;margin-right:6px; padding:0 5px;border: 1px solid #FF8C31; font-size: 12px; color:#FF8C31; line-height: 16px;}
.price-tip span.ico-limit,.ico-btn-price.ico-limit{border-color:#FF6161;color:#FF6565;}
.ico-btn-price{margin-left:0;}
.price em,.ico-btn-price{ font-style: normal;}
.price em{ display: inline-block;}
.swiper-slide img{height:234px;}
.price-board .price.price-original.tl{ text-align:left;}





