@import "@{static}/modules/base/less/wx-normalize";
@import "@{static}/modules/base/less/btns";
@import "@{static}/pagescript/quiz/base/less/base";

.container {
	padding:0px;
}
.img {
	margin-top: 50px;
	width: 150px;
	height: 150px;
	margin: 50px auto 0;
	background-image: data-uri('../img/img_status_d.png');
	background-size: 100% 100%;
}
.tip {
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	color: @f1;
}
#donwload {
	margin: 70px auto 0;
	width: 238px;
}
.contact {
	margin-top: 20px;
	text-align: center;
	font-size: 13px;
	color: @f2;
	a {
		color: @dc;
	}
}