@import "@{static}/pagescript/center/base/less/base";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/qr";

p {
	margin: 0;
}
.banner {
	position: relative;
	&.banner-official {
		&:after {
			content: "官方活动";
			position: absolute;
			top: 10px;
			left: 0px;
			width: 73px;
			height: 22px;
			box-sizing: border-box;
			padding-left: 8px;
			line-height: 22px;
			background: data-uri('../img/img_label_official.png');
			background-size: 100% 100%;
			color: @bg-1;
			font-size: 13px;
		}
	}
	.holder {
		display: block;
		width: 100%;
	}
	.banner-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: none center center no-repeat;
		background-size: cover;
		.banner-title {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 120px;
			background: -webkit-linear-gradient(90deg, fade(@bg-3,60), fade(@bg-3,0));
		 	background: -o-linear-gradient(90deg, fade(@bg-3,60), fade(@bg-3,0));
		 	p {
		 		position: absolute;
		 		left: 15px;
		 		right: 15px;
		 		bottom: 20px;
		 		color: @bg-1;
		 		font-size: 20px;
		 		font-weight: 700;
		 		text-shadow: 0 1px 1px @bg-3;
		 	}
		}
		.banner-title-box{
			padding:0 0 17px 15px;
			position:absolute;
			bottom:0px;
			left:0px;
			.name{
				color:#fff;
				font-size:19px;
				margin-bottom:11px;
				span{
					vertical-align:middle;
					margin-right:7px;
				}
			}
			.job{
				color:#f2f2f2;
				font-size:13px;
			}
		}
	}
}