@import "@{static}/pagescript/opportunity/base/less/base";
@import "@{static}/modules/ui/loading/less/mod";
@import "@{static}/pagescript/opportunity/base/less/widget/tabs";
@import "@{static}/pagescript/opportunity/base/less/widget/icon";
@import "@{static}/pagescript/opportunity/base/less/widget/dialog";
@base-img-url: "@{staticurl}/pagescript/opportunity/base/img";
@border-color: #f8f8f8;

#app {
	display: none;
	&.show {
		display: block;;
	}
}

.tabs {
	.tab {
		display: inline-block;
		width: 32%;
	}
}

.dialog.manager {
	.dialog-header {
		background: #f0683e;
	}
}

.not-prompt-tip {
	margin: 0 .16rem .1rem;
	border: 1px solid @black_7;
	text-align: center;
	.title {
		margin: .23rem 0 .15rem;
		font-size: .18rem;
		color: @black_54;
	}
	.desc {
		font-size: .14rem;
		color: @black_30;
		margin-bottom: .2rem;
	}
}

.empty-promotion {
	height: 1.8rem;
}

.panel-container {
	visibility: hidden;
	&.active {
		visibility: visible;
	}
}

.iscroll-panel {
	position: fixed;
	top: .44rem;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	.iscroll-panel-roller {
		padding-top: .1rem;
	}
}

.loading {
	position: relative;
	height: .4rem;
}

html {
	min-height: 100%;
	background-color: @whiteF2;
}

.panels {
}

.oppo {
	padding: .16rem .16rem .14rem;
	margin-top: .1rem;
	margin-bottom: .1rem;
	font-size: 0;
	background: #fff;
	&:first-child {
		margin-top: 0;
	}
	.title  {
		display: block;
		font-size: .16rem;		
		color: @black_87;
		font-weight: lighter;
	}
	.actions {
		position: relative;
		margin-top: .18rem;
		padding-top: 0.18rem;	
		border-top: 1px solid @border-color; 
		white-space: nowrap;
		text-align: right;
		a:last-child {
			border: none;
		}
	}
	.hint {
		position: absolute;
		left: 0;
		font-size: .12rem;
		color: @black_30;
		vertical-align: -0.01rem;
		&.warn {
			color: @tomato;
		}
	}
	.link-btn,.link {
		display: inline-block;
		font-size: .14rem;
		padding: 0 .12rem;
		border-right: 1px solid @border-color;
	}
	.link {
		color: @greyish-brown;
	}
	.link-btn {
		color: @fawn;
		font-weight: 600;
		&.disabled {
			color: @black_30;
			font-weight: normal;
		}
	}
}
