@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/bg";
@import "@{static}/modules/ui/showMsg/less/complete";
@import "@{static}/pagescript/comment/base/less/base";

.bg.bg-full {
    background-image: data-uri('../img/img_invite_header_bg.png');
}

.container {
    padding: 20px 15px 20px;
}

header {
    padding-bottom: 7px;
    .portrait-group {
        width: 150px;
        margin: 0 auto;
        text-align: center;
        .portrait {
            width: 56px;
            height: 56px;
            border: 3px solid fade(@bg-1,30);
            border-radius: 50%;
        }
    }
    .footer {
        margin: 0 auto;
        width: 135px;
        height: 40px;
        background: data-uri('../img/img_label_comment.png') no-repeat;
        background-size: 100%;
        position: relative;
        top: -18px;
    }
}

section {
    .lable {
        margin: 0;
        text-align: center;
        font-size: 15px;
        color: @bg-1;
        text-shadow: 0 1px 1px fade(@bg-3, 50%);
        span {
            color: @sc;            
        }
    }
    textarea, .relationShip {
        .font-main();
        box-sizing: border-box;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
    }
    textarea {
        margin: 13px 0 25px;
        height: 160px;
        line-height: 1.2;
    }
    .relationShip {        
        margin: 13px 0 0;
        height: 38px;
    }
    .error-msg {
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        color: @ac;
        text-align: center;
    }
}

.complete-msg-box {
    .msg-container {
        background-color: fade(@sc,90%);
        .msg {
            &:before {
                background-image: data-uri("../img/img_check_success.png");
            }
        }
    }
}