@import "../colors";
@import "../../../../../modules/base/less/mixins";
.btn{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: .14rem;
    padding-right: .14rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    height: .44rem;
    line-height: .44rem;
    border-radius: 3px;
    overflow: hidden;
    font-weight: 600;
    font-size: .17rem;

    &.btn_primary{
        background-color: @fawn;
    }

    &.btn_primary:active,
    &.btn_loading{
        background-color: darken(@fawn,15%);
        color:fade(#fff,60%);
    }

    &.btn_disabled{
        background-color: lighten(@fawn,15%);
        color: fade(#fff,50%);
    }
}

.btn.btn_mini{
    height: .22rem;
    line-height: .22rem;
    padding-left: .08rem;
    padding-right: .08rem;
    font-size: .14rem;
    font-weight: 400;
    overflow: visible;
    &.btn_primary{
        border-radius: 0;
        background-color: #fff;
        color: @dark-fawn;
        &:after{
            .border-onePX(@borderColor:@fawn;@borderRadius:.018rem);
        }
    }
    &.btn_default{
        border-radius: 0;
        background-color: #fff;
        color: @warm-grey;
        &:after{
            .border-onePX(@borderColor:@warm-grey;@borderRadius:.018rem);
        }
    }
}
