@import (less) "./user-card";
.oppo-card {
	color: @black1E;
	display: block;
	padding: 0.16rem;
	margin-bottom: .1rem;
	background: #fff;
	a {
		position: relative;
		text-decoration: none;
		display: block;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;	
			bottom: 0;
			background: transparent;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
	.creater {
		.user-card();
		padding-bottom: .12rem;
		&:after {
			content: "";
			display: block;
			position: absolute;
			height: 1px;
			bottom: 0;
			left: 0;
			right: 0;
			background: @black_7;
			transform: scaleY(0.5);
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: transparent;
			z-index: 10;
		}
	}
	.oppo-info {
		margin-top: .1rem;
		.flag {
			.high-quality-mark;
		}
		.title {
			margin: .062rem 0;
			font-size: .16rem;
			color: @black_87;
			font-weight: lighter;
		}
		.tags {
			.keywords();
			font-weight: lighter;
		}

		.pic {
			position: relative;
			box-sizing: border-box;
			float: right;
			width: 72px;
			height: 56px;
			padding: 33px 0 4px;
			text-align: right;
			background: no-repeat center center/cover;
			.num {
				color: red;
				position: absolute;
				padding: 3px 8px;
				right: 0;
				bottom: 6px;
				display: inline-block;
				background: rgba(0,0,0,.6);
				font-size: 12px;
				height: 16px;
				line-height: 16px;
				color: #fff;
				.before-icon("album-white");
				&::before {
					margin-right: 6px;
					height: 11px;
					width: 11px;
				}
			}
		}
	}
	.tool-bar {
		margin-top: 0.134rem;
		.stat();
		font-weight: lighter;
	}
}
