@import "@{static}/modules/ui/usertype/less/main";
.user-card {
  @height: 0.48rem;
  display: block;
  position: relative;
  height: @height;
  padding-left: @height + .08;
  .name:extend(.ellipsis) {
	display: block;
    position: relative;
    top: .07rem;
    font-size: .16rem;
    height: .20rem;
    line-height: .20rem;
    color: @black1E;
	.FF-SongTi;
  }
  .user-type {
      .icon-identify-with-inline();
  }
  .info:extend(.ellipsis) {
      margin-top: .06rem;
      font-size: .12rem;
      color: @black_54;
	  display: block;
	  font-weight: lighter;
  }
  .avatar {
    position: absolute;
    width: @height;
    height: @height;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: no-repeat center center/cover;
  }
}
