@import (less) "../../../../common/vue-swipe/vue-swipe.css";
@import "../../base/less/globals";

@import "../../base/less/widget/person-card-flex.less";
@import "../../base/less/widget/info-card.less";


body{
    background-color: @whiteF2;
}

.header{
    margin-bottom: .1rem;
}

.behavior{
    .blockStyle;
    .display-flex();
    .behavior-item{
        text-align: center;
        font-size: 0;
        padding: .5px 0;
        .flex(1);
        position: relative;
        &:nth-child(n+2):before{
            .l-line(@color:@black_10);
            top: 30%;
            height: 40%;
        }
        .icon{
            font-size: .36rem;
            margin-bottom: .02rem;
        }
        .behavior-title{
            color: @greyish-brown;
            font-size: .13rem;
            font-weight: 300;
            line-height: 1.4;
        }
        .behavior-count{
            color: @black_30;
            font-size: 13px;
            hegith: 16px;
            line-height: 16px;
            display: inline-block;
            &.behavior-count_sp{
                background-color: @tomato;
                color: #fff;
                font-size: 12px;
                height: 14px;
                line-height: 14px;
                margin: 1px 0;
                position: relative;
                z-index: 1;
                &:before{
                    content: "";
                    background-color: @tomato;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: .13rem;
                    left: -.13rem/2;
                    border-top-left-radius: 50%;
                    border-bottom-left-radius: 50%;
                    z-index: -1;
                }
                &:after{
                    content: "";
                    background-color: @tomato;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: .13rem;
                    right: -.13rem/2;
                    border-top-right-radius: 50%;
                    border-bottom-right-radius: 50%;
                    z-index: -1;
                }
            }
        }
    }
}

.notify{
    .blockStyle;
    overflow: hidden;
    .notify-message{
        color: @dark-fawn;
        font-size: .13rem;
    }
}

.menu{
    .blockStyle(@padding:0);
    .menu-headline{
        .FF-SongTi;
        font-weight: normal;
        padding: .15rem;
        font-size: .15rem;
        color: @black_87;
    }
    .menu-content{
        font-size: 0;
        position: relative;
        .clearfix;
        &:before{
            .t-line(@color:@black_7);
        }
        .menu-item{
            width: 25%;
            position: relative;
            float: left;
            padding: .16rem  0;
            text-align: center;
            &:before{
                .b-line(@color:@black_7);
            }
            &:after{
                .r-line(@color:@black_7);
            }
            &:nth-child(4n+4):after{
                display: none;
            }
            .icon{
                font-size: .2rem;
                margin-bottom: .1rem;
            }
            .item-title{
                color: @black_87;
                font-size: .13rem;
                line-height: 1.2;
                font-weight: normal;
            }
            .item-count{
                color: @black_30;
                font-size: .12rem;
                line-height: 1;
            }
        }
    }
}

.banner{
    .blockStyle;
    font-size: 0;
    .clearfix;
    .banner-item{
        overflow: hidden;
        width: calc(~"50% - .05rem");
        float: left;
        border-radius: 5px;
        overflow: hidden;
        &:nth-child(2n+1){
            margin-right: .1rem;
        }
        &:nth-child(n+3){
            margin-top: .1rem
        }
        .banner-pic{
            width: 100%;
            padding-top: 160 /340 * 100%;
            background-size: cover;
        }
    }
}



.info{
    .blockStyle(@padding:0);
    .info-headline{
        .FF-SongTi;
        font-weight: normal;
        font-size: .15rem;
        padding: .16rem
    }
    .more-link{
        color: @dark-fawn;
        font-size: .14rem;
        text-align: center;
        line-height: 1;
        padding: .14rem 0;
        position: relative;
        &:before{
            .t-line(@color:@black_7)
        }
    }
    .info-list{
        margin-top: -.12rem;
    }
}

.my-swipe {
    height: 184/375 * 4rem;
    color: #fff;
    font-size: 30px;
    text-align: center;
    .swipe-item{
      background-size: cover;
      img{
          width: 100%;
      }
    }
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter {
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    opacity: 0;
    z-index: 3;
}

.slide-fade-leave-active {
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    opacity: 0;
    z-index: 1;
}
.slide-fade-enter-active, .slide-fade-leave-active {
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 1;
    position: absolute;
}

.transition-absolute{
    position: absolute;
    width: 100%;
}

.transition-container{
    height: .32rem;
    position: relative;
}
