@import "../../base/less/global";

.comments{
    background-image:url("@{staticurl}/pagescript/chineseCharacter/base/img/bg-bottom.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: .1rem;
}


.comments-info{
    text-align: center;
    font-size: 0;
    margin:0 auto .1rem;
}

.comments-title{
    font-family: "MFLiHei";
    font-size: .12rem;
    .bg-gredient('light');
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    display: inline;
}

.comments-count{
    font-size: .12rem;
    color: #fff;
}

.comments-item{
    margin: 0 .15rem .14rem;
    padding: .5px 0;
    position: relative;
    &:after{
        .b-line(@color:rgba(255,255,255,.2));
    }
}

.person-info{
    text-align: left;
    margin-bottom: .14rem;
}
.person-avatar{
    .avatar(.3rem,0);
    float: left;
    margin-right: .1rem;
}

.person-name{
    font-size: .13rem;
    font-weight: 600;
    line-height: 1.27;
    color: #fff;
    .icon-identify{
        .icon-identify-with-inline();
    }
}

.person-title{
    font-size: .11rem;
    font-weight: 300;
    line-height: 1.27;
    color: #fff;
}

.comments-comment{
    color: #fff;
    font-size: .15rem;
    text-align: justify;
    margin-bottom: .14rem;
}

.fixed-bottom-bar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: .4rem;
    line-height: .16rem;
    .bg-gredient('light');
    font-size: .13rem;
    color: #fff;
    padding: .12rem .1rem;
    .fixed-bottom-bar-btn{
        background-color: rgba(0,0,0,.36);
        font-size: .12rem;
        color: #fff;
        font-weight: 300;
        float: right;
        padding: 0 .065rem;
        text-align: center;
        border-radius: .12rem;
    }
}

#app{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    padding-top: .1rem;
    padding-bottom: .4rem;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar{
        display: none;
    }
}
