@import "@{static}/modules/base/less/layout.less";
@charset "utf-8";
/* base */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{margin:0;padding:0;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
body{ background:#F3F3F3; -webkit-tap-highlight-color: transparent; -webkit-text-size-adjust:100%}
ul,ol{list-style:none}
html{font-size:62.5%;}
html,body{height:100%;}
h1,h2,h3,h4,h5,h6{font-weight:normal}
a{ text-decoration:none;}
a:hover,a:focus,input:focus{outline:none;}
i,em{ font-style:normal;}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}
.clearfix:after{clear:both}
.pr{ position:relative;}
.pa{ position:absolute;}
.tc{ text-align:center;}
.fl{float:left;}
.fr{float:right;}
.tr{ text-align:right;}
.mt0{margin-top:0 !important}
.mt10{margin-top:10px !important}
.blank{height:9px; overflow:hidden;}
.bg-white{background:#FFF;}
.concernWord{margin:30px 5% 0;width:90%;}
.concernWord img {width:44px;height:44px;float:left;}
.word{
    position:relative;
    width:65%;
    float:left;
    line-height:22px;
    background:#fff;
    color:#000;
    font-size:16px;
    border-radius:5px;
    margin-left:10px;
    padding:15px 20px;
}
.word p{
    font-size:16px;
}
.word .conMore{
    color:#BEBEBE;
    font-size:13px;
}
.word .sendCon{
    font-size:13px;
    color:#3AA978;
    text-decoration:none;
}
.sendSign{
    display:inline-block;
    width:16px;
    height:16px;
    background:url(../img/contact_sign.png) center center no-repeat;
    background-size:contain;
    margin:2px 0 0 2px;
}
.js-arrow{
    position: absolute;
    top: 10px;
    width: 10px;
    left: -12px;
}
.js-arrow .arrow1,.js-arrow .arrow2{
    position:absolute;
    font-size:0;
    top: 2px;
    left:1px;
    width:0px;
    height:0px;
    border:6px solid;
    border-color:transparent #fff transparent transparent;
    border-style:solid dashed dashed dashed;
}
.js-arrow .arrow2{
    top:0px;
}
.invite{margin:0 auto;}
.inviteImg{
    margin-top:20px;
    height:130px;
    background:url(../img/email_sign.png) center center no-repeat;
    background-size:contain;
}
.contactText span{float:left;}
.inviteText{color:#000;font-size:17px;line-height:22px;margin-top:25px; text-align:center;}
.inviteBtn{margin:15px 13% 0;}
.inviteBtn a{
    border-radius:5px;
    text-align:center;
    display:block;
    color:#fff;
    height:45px;
    line-height:45px;
    font-size:17px;
    background:#3AA978;
    text-decoration:none;
}
.mask{
    position:fixed;
    top:0;
    left:0; display:none;
    background:#000;
    opacity:0.7;
    filter:alpha(opacity=70);
    width:100%;
    height:100%;
    z-index:4;
}
.shareMsg{ display:none;
    width:82%;
    height:320px;
    background:#fff;
    position:absolute;
    z-index:5;
    border-radius:10px;
    top: 60px;
    left: 9%;
    text-align:center;
}
.shareMsg h2{
    color:#1E1E1E;
    font-size:18px;
    line-height:24px;
    text-align: center;
}
.shareSign{
    height:120px;
    background:url(../img/share_sign.png) center center no-repeat;
    margin:30px 15%;
    background-size: contain;
}
.shareMsg p{
    font-size:14px;
    color:#6B6B6B;
}

.js-arrow-big{
    position: absolute;
    top: -20px;
    width: 20px;
    left: 85%;
}
.js-arrow-big .arrow1,.js-arrow-big .arrow2{
    position:absolute;
    font-size:0;
    top: 2px;
    left:1px;
    width:0px;
    height:0px;
    border:12px solid;
    border-color:transparent transparent #fff transparent;
    border-style:dashed dashed solid dashed;
}
.js-arrow-big .arrow2{
    top:0px;
}
.wrapMsg{margin-top:40px;}
.hide{display:none;}