@import "@{static}/pagescript/comment/base/less/base";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/qr";
@import "@{static}/modules/base/less/bg";
@import "@{static}/modules/base/less/profile";

.bg.bg-full {
    background-image: data-uri('../img/img_invite_header_bg.png');
    .logo {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 50px;
        height: 20px;
        background: data-uri('../img/img_logo_zhisland.png') no-repeat;
        background-size: 100%;
    }
}

.main {
    margin: 25px 25px 0;
    padding: 20px 0;
    background: fade(@bg-1,15);
    .profile-v {
        padding: 0 15px;
        .portrait {
            width: 76px;
            height: 76px;
            border: 3px solid fade(@bg-1,30);
        }
        .name {
            margin: 10px 0 10px;
            font-size: 17px;
            color: @bg-1;
            text-shadow: 0 1px 1px fade(@bg-3,50);
        }
        .title {
            font-size: 13px;
            color: fade(@bg-1,70);
        }
    }
    .intro {
        width: 235px;
        height: 130px;
        margin: 15px auto 0;
        background: data-uri('../img/img_landing_page_words.png') no-repeat;
        background-size: 100%;
    }
}

#btn-invite {
    padding: 25px 15px;
}