body{font-family:'\5FAE\8F6F\96C5\9ED1';}
*{ margin: 0; padding: 0;}
p{ line-height: 0.24rem;}
.return-allproject{margin: 0.2rem 0.3rem;}
.return-allproject a{width: 5.8rem;height: 0.75rem;background: #3aa978;color: #fff;line-height: 0.75rem;text-decoration: none;display: inline-block;font-size: 0.26rem;text-align: center;border-radius: 0.04rem;}
.top-bg{width: 100%;height: 0.75rem;background: url(../img/img_bg_a.png) no-repeat center;background-size: cover;}
.text-title{width: 100%;height: 0.5rem;}
.rule-text h2{margin:0 auto;width:1.7rem;height:0.5rem;text-align: center;background: url(../img/img_title_c.png) no-repeat center;background-size: contain;}
.text-content{margin: 0.4rem 0.3rem 0;padding-bottom:0.7rem;}
.every-content{margin-bottom: 0.5rem;}
.every-content p{line-height: 0.35rem;font-size: 0.28rem;}
.zhengsland-logo{height: 0.3rem;margin-top: 0.5rem;width: 100%;background: url(../img/img_logo.png) no-repeat center;background-size:contain;}
.bottom-bg{width: 100%;height: 0.75rem;background: url(../img/img_bg_b.png) no-repeat center;background-size: cover;bottom:0;position:fixed;}
.fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0.7rem;
    z-index: 8;
    width: 100%;
    height: 65px;
    background: rgba(255,255,255,.85);
}
a.btn-blue {
    border-color: #3aa978;
    background: #3AA978;
    display: block;
    box-sizing: border-box;
    height: 38px;
    margin: 15px 15px 11px;
    padding: 0 12px;
    border: 1px solid transparent;
    text-align: center;
    line-height: 38px;
    color: #FFF;
    font-weight: 400;
    vertical-align: middle;
    touch-action: manipulation;
    white-space: nowrap;
    font-size: 15px;
    border-radius: 5px;
    -webkit-user-select: none;
    text-decoration: none;
    tap-highlight-color: rgba(0,0,0,0);
    focus-ring-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -moz-focus-ring-color: rgba(0, 0, 0, 0);
}