@import "@{static}/pagescript/forum/base/less/base";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/bg";

.bg.bg-full {
    background-image: data-uri('../img/img_bg.png');
}
.set-fixed-footer(15px,15px,15px);
.container {
    padding: 22px 25px 55px;
    p {
        margin: 0 0 15px;
        color: fade(@bg-1,70%);
        font-size: 13px;
    }
    .title {
        margin: 0 0 28px;
        text-align: center;
        color: @sc;
        font-size: 18px;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 0 0 15px;
            padding: 0;
            list-style: none;
            color: fade(@bg-1,70%);
            font-size: 13px;
        }
    }
    .logo {
        width: 48px;
        height: 19px;
        background: data-uri('../img/img_logo.png') no-repeat center center;
        background-size: 100% auto;
        margin: 30px auto;
    }
    a {
        color: @dc;
    }
}