@import "@{static}/modules/base/less/page";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/qr";
@import "@{static}/pagescript/base/less/base";
@import "@{static}/pagescript/center/base/less/base";
.item-box{
	padding:15px 0;
}
.item{
	padding:3px 5px;
	margin:0 5px;
	border-bottom:1px solid @div;
	text-align:right;
	position:relative;
	.title{
		color:@f1;
		font-size:15px;
		position:absolute;
		top:0px;
		left:5px;
		bottom:0px;
		margin:auto 0;
		height:15px;
	}
}
.radio{
	display:inline-block;
	background:data-uri("../img/radio_box_unselcet@2x.png") no-repeat center center;
	background-size:24px 24px;
	width:48px;
	height:48px;
}
.selected{
	background:data-uri("../img/radio_box@2x.png") no-repeat center center;
	background-size:24px 24px;
	width:48px;
	height:48px;
}