@black-54: rgba(0, 0, 0, 0.54);
@black: #000000;
@black-20: rgba(0, 0, 0, 0.2);
@black-10: rgba(0, 0, 0, 0.1);
@tomato: #e73930;
@rouge: #c6131f;
@black-30: rgba(0, 0, 0, 0.3);
@sandy: #f5e279;
@yellow-tan: #ffe379;
@pale: #fff5d0;
@copper: #b5622e;
@macaroni-and-cheese: #efb52d;
