@import "@{static}/pagescript/forum/base/less/base";
@import "@{static}/modules/base/less/btns";

.container {
    padding: 40px 15px 15px;
}

.icon {
    width: 55px;
    height: 55px;
    margin: 0 auto;
    background: data-uri('../img/img_verification_zhisland.png') no-repeat center center;
    background-size: 100% auto;
}

p {
    margin: 22px 0 45px;
    text-align: center;
    .font-main();
}