@import "../../base/less/globals";
@import "../../../../modules/base/font/SongTi";
@import "../../../../modules/ui/usertype/less/main";
@import "../../base/less/widget/person-card-flex";

.partner-list{
    padding: 0 .16rem;
}
.partner-item{
    padding: .16rem 0;
    position: relative;
    &:nth-last-child(n+2):after{
        .b-line(@color:@black_7);
    }
    .partner-message{
        padding: .11rem 0 0 .41rem;
        margin-bottom: -.04rem;
        .message-content{
            font-size: .15rem;
            text-align: justify;
            color: @black_87;
            line-height: .22rem;
            font-weight: 300;
            margin-bottom: .06rem;
            .line-overflow-width(20em);
        }
    }
    .message-time{
        font-size: .11rem;
        font-weight: 300;
        line-height: 1;
        display: block;
        color: @black_30;
    }
}
