@import "@{static}/modules/base/less/page";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/qr";
@import "@{static}/pagescript/base/less/base";
@import "@{static}/pagescript/center/base/less/base";
body .con select{
	border:0;
	height:100%;
	font-size:15px;
	width:100%;
	padding:0;
	background:#fff;
	color:#000;
}
.sel {
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		width: 14px;
		height: 8px;
		background: no-repeat center center data-uri("../img/down-arrow.png");
		background-size: cover;
	}
	.select-default {
		color: @f3;
	}
	option {
		color: @f1;
	}
}
.sel-right{
	position:relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		width: 9px;
		height: 15px;
		background: no-repeat center center data-uri("../img/nav_btn_back@2x.png");
		background-size: cover;
	}
}
.item-box{
	padding:15px 0;
}
.item{
	width:100%;
	padding:12px 5px 0 95px;
	margin:0 5px;
	box-sizing:border-box;
	position:relative;
	height:55px;
	a{
		display:inline-block;
		width:100%;
	}
	.title{
		color:@f1;
		font-size:13px;
		position:absolute;
		top:0px;
		left:5px;
		bottom:0px;
		margin:auto 0;
		height:15px;
		width:75px;
		text-align:right;
	}
	.con{
		display:inline-block;
		width:100%;
		border-bottom:1px solid @div;
		height:34px;
		line-height:30px;
		color:@f1;
		font-size:15px;
		input[type="text"]{
			border:0;
			width:100%;
			color:@f1;
			font-size:15px;
		}
		.tag-con{
			width:90%;
			height:34px;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
			display:inline-block;
		}
	}
}
.radio{
	display:inline-block;
	background:data-uri("../img/radio_box_unselcet@2x.png") no-repeat center center;
	background-size:24px 24px;
	width:24px;
	height:24px;
}
.selected{
	background:data-uri("../img/radio_box@2x.png") no-repeat center center;
	background-size:24px 24px;
	width:24px;
	height:24px;
}
#area{
	.con{
		font-size:0px;
	}
}
#province{
	width:40%;
	display:inline-block;
	margin-right:5%;
}
#city{
	width:55%;
	display:inline-block;
}
.tag-default{
	color:@f3;
}
select{
	color:@f3;
}
#submit-btn{
	line-height:38px;
}
.star{
	color:@dc;
	position:absolute;
	top:16px;
	left:8px;
	font-size:30px;
}
#no-border{
	border-bottom:0;
}
.moreInfos{
	color:@dc;
	font-size:14px;
	background:data-uri("../img/img_arrow_rignt_green@2x.png") no-repeat 200px center;
	background-size:8px 13px;
	padding-right:15px;
	display:block;
	height:90px;
	line-height:90px;
	width:320px;
	text-align:center;
	margin:0 auto;
	position:relative;
	z-index:20000;
}