@import "@{static}/pagescript/trust/base/less/base.less";
html {
	background-color: @main-color;
}

.title {
	margin-top: 50px;
	font-size: 20px;
	color: #fff;
	text-align: center;
}

.tip {
	margin: 70px 0 16px;
	color: #fff;
	font-size: 14px;
	text-align: center;
}

.chart-container {
	.white-card();
	canvas {
		margin: 0 auto;
	}
}

.bg {
	position: fixed;
	bottom: -48px;
	left: 0;
	right: 0;
	z-index: -1;
	height: 400px;
	background: no-repeat left bottom url("@{staticurl}/pagescript/trust/base/img/letter-bg.png");
}

.share-layer {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;	
	&.show {
		display: block;
	}
	&.transparent {
		background-color: rgba(17,17,17,0.8);
	}
	&.solid {
		background: @main-color no-repeat left bottom url("@{staticurl}/pagescript/trust/base/img/letter-bg.png");
		.share-msg {
			color: #ff5364 !important;
		}
	}
	&.android {
		.share-btn-pic {
			width: 26px;
			.rotate(90deg);		
		}
	}

	.kp-friend-list-link {
		display: inline-block;
		margin-top: 27px;
		font-size: 14px;
		color: #fff;
	}

	.layer-content {
		position: relative;
		box-sizing: border-box;
		margin: 47px 25px auto;
		padding: 40px;
		min-height: 323px;
		background: #fff no-repeat center 136px url("@{staticurl}/pagescript/trust/base/img/share-bg.png");
		background-size: 130px 110px;
		border-radius: 8px;

		.share-msg {
			font-size: 17px;
			text-align: center;	
			color: #1e1e1e;
		}
		.bottom-tip {
			position: absolute;
			bottom: 30px;
			left: 20px;
			right: 20px;
			font-size: 14px;
			color: #6b6b6b;
			text-align: center;
			&.canceled {
				display: none;
			}
		}
		.share-btn-pic {
			display: inline-block;
			width:22px;
		   	height: 4px;	
			background: no-repeat url("@{staticurl}/pagescript/trust/base/img/dots.png");
			background-size: contain;
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: -10px;
			right: 20px;
			width: 20px;
			height: 20px;
			background: #fff;
			.rotate(45deg);
			
		}
	}
	
}
