@import "@{static}/pagescript/event/base/less/base";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/link";

.container {
	padding: 40px 15px 15px;
}

.icon {
	width: 55px;
	height: 55px;
	display: block;
	margin: 0 auto;
	background: data-uri('../img/img_verification_alarm.png') no-repeat;
	background-size: 100% 100%;
}

.main {
	color: @f1;
	p {
		margin: 0 auto;
		text-align: center;
	}
	.result {		
		margin-top: 22px;
		font-size: 15px;
	}
	.desc {
		font-size: 13px;
	}
	.result + .desc {
		margin-top: 30px;
	}
}

footer {
	margin-top: 85px;
}
