@icon-img-path: "@{staticurl}/modules/ui/usertype/img";

.identify-config() {
	&.identify-level-5 {
		background: data-uri('@{icon-img-path}/img_dolphin.png') left center no-repeat;
		background-size: 100% auto;
	}
	&.identify-level-2 {
		background: data-uri('@{icon-img-path}/img_eagle.png') left center no-repeat;
		background-size: 100% auto;
	}
	&.identify-level-3 {
		background: data-uri('@{icon-img-path}/img_lion_gold.png') left center no-repeat;
		background-size: 100% auto;
	}
	&.identify-level-1 {
		background: data-uri('@{icon-img-path}/img_lion_green.png') left center no-repeat;
		background-size: 100% auto;
	}
	&.identify-level-4 {
		background: data-uri('@{icon-img-path}/img_bee.png') left center no-repeat;
		background-size: 100% auto;
	}
}

.avatar-with-type-icon-onside(@icon-width:22px,@diameter) {
	.icon-identify{
		width:@icon-width;
		height:@icon-width;
		position:absolute;
		@iconRadius:@icon-width/2;
		@hypotenuse:sqrt(@diameter*@diameter/2);
		top:-webkit-calc(~'50% - @{iconRadius} + @{hypotenuse} - .5px');
		top:calc(~'50% - @{iconRadius} + @{hypotenuse} - 1px');
		left:-webkit-calc(~'50% - @{iconRadius} + @{hypotenuse} - .5px');
		left:calc(~'50% - @{iconRadius} + @{hypotenuse} - .5px');
		.identify-config()
	}
}

.icon-identify-with-inline (@size:.9em,@margin:.02rem) {
	width: @size;
	height: @size;
	display: inline-block;
	vertical-align: (1em-@size)/ -2;
	margin-left: @margin;
	.identify-config();
}
