@icon-img-path: "@{staticurl}/modules/ui/usertype/img";
.avatar-with-type-icon(@icon-width:22px) {
	.icon-identify{
		width:@icon-width;
		height:@icon-width;
		position:absolute;
		bottom:0px;
		right:0px;
	}
	.dolphin{
		background: data-uri('@{icon-img-path}/img_dolphin.png') left center no-repeat;
		background-size:100% auto;
	}
	.eagle{
		background: data-uri('@{icon-img-path}/img_eagle.png') left center no-repeat;
		background-size:100% auto;
	}
	.lion-gold{
		background: data-uri('@{icon-img-path}/img_lion_gold.png') left center no-repeat;
		background-size:100% auto;
	}
	.lion-green{
		background: data-uri('@{icon-img-path}/img_lion_green.png') left center no-repeat;
		background-size:100% auto;
	}
	.bee{
		background: data-uri('@{icon-img-path}/img_bee.png') left center no-repeat;
		background-size:100% auto;
	}
}

.avatar-with-type-icon-onside(@icon-width:22px,@diameter) {
	.icon-identify{
		width:@icon-width;
		height:@icon-width;
		position:absolute;
		@iconRadius:@icon-width/2;
		@hypotenuse:sqrt(@diameter*@diameter/2);
		top:-webkit-calc(~'50% - @{iconRadius} + @{hypotenuse} - .5px');
		top:calc(~'50% - @{iconRadius} + @{hypotenuse} - 1px');
		left:-webkit-calc(~'50% - @{iconRadius} + @{hypotenuse} - .5px');
		left:calc(~'50% - @{iconRadius} + @{hypotenuse} - .5px');

	}
	.dolphin{
		background: data-uri('@{icon-img-path}/img_dolphin.png') left center no-repeat;
		background-size:100% auto;
	}
	.eagle{
		background: data-uri('@{icon-img-path}/img_eagle.png') left center no-repeat;
		background-size:100% auto;
	}
	.lion-gold{
		background: data-uri('@{icon-img-path}/img_lion_gold.png') left center no-repeat;
		background-size:100% auto;
	}
	.lion-green{
		background: data-uri('@{icon-img-path}/img_lion_green.png') left center no-repeat;
		background-size:100% auto;
	}
	.bee{
		background: data-uri('@{icon-img-path}/img_bee.png') left center no-repeat;
		background-size:100% auto;
	}
}
