@import "@{static}/pagescript/prize1/base/less/base";
@import "@{static}/modules/base/less/wx-normalize";
@import "@{static}/modules/ui/loading/less/mod";
@import "@{static}/modules/ui/usertype/less/main";
@import "@{static}/modules/base/less/variables";
@import "@{static}/modules/ui/showMsg/less/main";
@import "@{static}/common/bootstrap-3.3.5/less/mixins/vendor-prefixes";

html {
	background-color: #ece8f2;
}

.banner {
	position: relative;
	height: 129px;
	background: url("../img/banner-bg.jpg") no-repeat center top;
	background-size: cover;
	overflow: hidden;
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 8%;
		right: 0;
		top: 0;
		bottom: -12px;
		background: url("../img/banner-title.png") no-repeat center center;
		background-size: 305px 148px;
	}
}

.rule-link{
	color: #fff;
	font-size: 14px;
	position: absolute;
	bottom: 8px;
	right: 8px;
}

.rank-btn {
	.btn();
}

@color-purple: #6453ff;

.tabs {
	padding: 8px;
	table {
		width: 100%;
	}
	.tab {
		display: block;
		box-sizing: border-box;
		border: 1px solid @color-purple;
		height: 40px;
		line-height: 40px;
		font-size: 16px;
		text-align: center;
		color: @color-purple;
		background-color: transparent;
		border-radius: 5px;
		&.mid {
			margin: 0 8px;
		}
		&.active {
			color: #fff;
			background-color: @color-purple;
		}
	}
}

.list {
	@rank-num-width: 52px;
	padding-bottom: 52px;
	.item {
		display: block;
		position: relative;
		text-decoration: none;
		padding: 13px 80px 13px 110px;
		font-size: 16px;
		background-color: #fff;

		#all-rewards & {
			padding-left: 56px;
		}

		span {
			display: inline-block;
		}

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: transparent;
			z-index: 1;
		}

		&:after {
			content: "";
			position: absolute;
			left: 16px;
			right: 0;
			bottom: 0;
			height: 1px;
			background-color: #e4e4e4;
			transform: scaleY(0.5);
		}

		&.bordered {
			&:after {
				content: "";
				position: absolute;
				left: 16px;
				right: 0;
				bottom: 0;
				height: 1px;
				background: #e4e4e4;
				.scaleY(0.5);
			}
		}

		&.margined {
			margin-bottom: 10px;
		}

		&.reward {
			padding-left: @rank-num-width + 10;
		}

		.ellipsis {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.uname {
			height: 48px;
			line-height: 48px;
			color: rgba(0,0,0,0.87);
			.ellipsis;
		}

		.reward-name {
			font-size: 16px;
			height: 22px;
			line-height: 22px;
			.ellipsis;
		}

		.rank-num {
			position: absolute;
			left: 0;
			top: 0;
			height: 24px;
			line-height: 24px;
			margin: auto 0;
			bottom: 0;
			width: @rank-num-width;
			color: @color-purple;
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
			.inner:after {
				content: ".";
			}

			&[data-rank="1"],
			&[data-rank="2"],
			&[data-rank="3"] {
				.inner {
					color: #fff;
					display: inline-block;
					width: 24px;
					height: 24px;
					border-radius: 4px;
				}
			}

			&[data-rank="1"] {
				.inner {
					background-color: #ffc026;
				}
			}

			&[data-rank="2"] {
				.inner {
					background-color: #c5c5c5;

				}
			}
			&[data-rank="3"] {
				.inner {
					background-color: #d79b86;
				}
			}
		}

		.avatar {
			display: inline-block;
			position: absolute;
			left: 52px;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			vertical-align: middle;
			.avatar-with-type-icon-onside(@icon-width:22px,20px);
			background-size: cover;
		}

		.zan {
			position: absolute;
			right: 0;
			width: 80px;
			top: 0;
			bottom: 0;
			margin: auto 0;
			font-size: 14px;
			height: 14px;
			color: #8e8e8e;
			text-align: left;
			&:before {
				content: "";
				display: inline-block;
				margin-right: 9px;
				width: 15px;
				height: 14px;
				background: url("@{staticurl}/pagescript/prize1/base/img/icon-thumb.png") no-repeat center center;
				background-size: contain;
			}
		}

		.hot-num {
			.zan();
			&:before {
				width: 20px;
				height: 20px;
				vertical-align: -5px;
				background-image: url("@{staticurl}/pagescript/prize1/base/img/icon-flame.png");
			}
		}
	}
}

.list-container {
	display: none;
	position: absolute;
	top: 185px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	&.active {
		display: block;
	}
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 56px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
	.rank-btn {
		margin-top: 6px;
	}
}
