@import "@{static}/modules/base/less/wx-normalize";
@import "../../base/less/base";
@import "@{static}/pagescript/account/login/less/main";

html {
	.bg-sky();
	background-attachment: fixed;
	overflow: hidden;
	height: 100%;
}

.container {
	background: url("../img/text.png") no-repeat,
				url("../img/flag.png") no-repeat;
	background-size: unit(348/2,px) unit(146/2,px),unit(237/2,px) unit(437/2,px);
	background-position: 17px 47px,right -40px;
	padding-top: 122px;

	.district-number:after {
		z-index: 2;
	}
	select {
		background-color: #fff !important;
	}
	.btn-send-code {
		color: #694305;
	}
	.btn {
		background-color: #f6c968;
		border-color: #f6c968;
	   	color: #fff;
		&[disabled] {
			color: fadeOut(#fff,40%);
		}
		&:active {
			background-color: #f6c968;
			border-color: #f6c968;
		}
	}
	.tc {
		display: none;
	}
}
