@import "../../base/less/global";

.landing{
    background-image: url("@{staticurl}/pagescript/chineseCharacter/base/img/start-title.jpg"),
                        url("@{staticurl}/pagescript/chineseCharacter/base/img/bg-bottom.jpg");
    background-position: center top,center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 75%;
}

.wrapper{
    text-align: center;
    padding: .5px 0;
}

.slogan{
    font-size: .15rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    line-height: 1.67;
    position: relative;
    display: table;
    margin: 0 auto;
    padding: 4px 10px;
    & > p{
        background-color: @bg-2;
        z-index: 3;
        &:first-child{
            display: inline-block;
            padding: 0 1em;
        }
    }
}

.slogan-border{
    position: absolute;
    left: 0;
    right: 0;
    bottom: .15rem;
    top: 0;
    z-index: -1;
    -webkit-transform: translateY(.15rem);
    transform: translateY(.15rem);
    @surplus:-.08rem;
    &.col{
        bottom: calc(.15rem+@surplus);
        top: @surplus;
        &:before{
            .l-line(2px);
            .bg-gredient('dark');
        }
        &:after{
            .r-line(2px);
            .bg-gredient('dark');
        }
    }
    &.row{
        left: @surplus;
        right: @surplus;
        &:before{
            .t-line(2px);
            .bg-gredient('dark');
        }
        &:after{
            .b-line(2px);
            .bg-gredient('dark');
        }
    }
}

@media screen and (min-resolution: 2dppx) {

}


.btn{
    margin: .6rem auto;
}
