@import "@{static}/modules/base/less/my-normalize.less";
@import "@{static}/pagescript/trust/base/less/base.less";

html{
    background: #F2F1F0;
	&.page-standalone {
		background: #fff;
		.empower-box{
			margin-top: 114px;
		}
	}
}

.content{
    padding: 16px;
}

.empower-box{
    margin-top: 46px;
    text-align: center;
    .icon{
        width: 72px;
        height: 60px;
        display: block;
        margin: 0 auto 10px;
    }
    .tips{
        font-size: 14px;
        color: rgba(0, 0, 0, .3);
    }
}

.title{
    color: #6B6B6B;
    font-size: .14rem;
    font-weight: 500;
}

.btn-empower{
    color: #3AA978;
    font-size: 16px;
    padding: 8px 46px;
    border: 1px solid #3AA978;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
    line-height: 1em;
}
