@import "@{static}/modules/base/less/wx-normalize";

.container {
	padding: 25px;
}
p {
	margin: 0px;
	color: @f1;
	font-size: 15px;
}
.first, .bold + p {
	margin-top: 25px;
}
.bold {
	margin-top: 30px;
	font-weight: 700;
}

.indented {
	margin-left: 10px;
}