@import "@{static}/modules/base/less/wx-normalize";
@import "@{static}/modules/ui/showMsg/less/main";
@import "@{static}/modules/base/less/mixins";
@import "@{static}/modules/ui/usertype/less/mod";


@main-color: #56abe4;
@bg-color: #f2f1f0;
@red-color: #ff5364;

/*
 * 红色按钮
 */
.btn-red {
	display: block;
	margin: 0 49px 32px;
	border-radius: 5px;
	background-color: @red-color;
	color: @bg-1;
	font-size: 16px;
	font-weight: bolder;
	height: 44px;
	line-height: 44px;
	text-align: center;
	&[disabled] {
		color: #b6b6b6;
		background-color: #d9d9d9;
	}
}


/*
 * 圆角矩形白色卡片
 */
.white-card() {
	background-color: #fff;
	border-radius: 8px;
	margin: 16px;
  	padding: 20px;
}

/*
 * 头像
 */
.base-avatar(@radius) {
	display: block;
	width: @radius;
	height: @radius;
	border-radius: 50%;
	background: no-repeat center center;
	background-size: cover;
}

/*
 * 消息气泡
 */

.msg-bubble {
	position: relative;
	padding-left: 58px;
	.avatar {
		.base-avatar(48px);
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		&:after{
			.border-onePX(50%,#fff);
		}
	}
	.msg {
		position: relative;
		color: #111;
		padding: 14px 12px;
		background: #fff;
		border-radius: 8px;
		text-align: left;
		font-size: 16px;
		line-height: 20px;
		text-align: justify;
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 7px;
			height: 7px;
			left: -3px;
			top: 20px;
			background-color: #fff;
			.rotate(45deg);
		}
	}
	/*
	 * 头像在底部
	 */
	&.reverse {
		z-index: 2;
		.avatar {
			top: auto;
			bottom: 0;
		}
		.msg {
			border-radius: 16px;
			&:before{
				display: none;
			}
			&:after {
				content: "";
				z-index: -1;
				background: data-uri('@{staticurl}/pagescript/trust/base/img/pointer@2x.png') no-repeat;
				background-size: 100% 100%;
				position: absolute;
				bottom:0;
				left:-8px;
				width: 23px;
				height: 23px;
			}
		}
		&.decorated:after {
			content: "";
			display: block;
			position: absolute;
			width: 38px;
			height: 37px;
			background: no-repeat center center url("../img/msg-bubble-corner.png");
			background-size: contain;
			right: -13px;
			top: -13px;
		}
	}
}

//名片
.my-card{
    padding: 26px 0 18px;
    text-align: center;
    .my-card-avatar{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 0 auto;
		position: relative;
		background-position: 50% 50%;
		background-size: cover;
		.avatar-with-type-icon(25px);
		& > img {
			width: 100%;
		}
    }
    .my-card-desc{
        margin-top: 12px;
		padding: .1px 0;
        .my-card-name{
            font-size: .18rem;
            color: #fff;
            margin: 0 0 6px;
            line-height: 1em;
        }
        .my-card-title{
            font-size: .2rem;
            color: #fff;
            margin: 24px 0 4px;
            line-height: 1.4em;
        }
        .my-card-intro{
            font-size: .14rem;
            color: #fff;
            margin: 0;
            line-height: 1em;
        }
    }
}
//排名显示
.my-rank{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 50px;
    margin: 0;
    .my-rank-title{
        color: #fff;
        background: #FF5265;
        height: 18px;
        box-sizing: border-box;
        padding: 5px;
        >span {
            display: block;
            width: 200%;
            height: 200%;
            font-size: .08rem*2;
            line-height: 1em;
            -webkit-transform: scale(.5,.5);
            transform: scale(.5,.5);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
        }
    }
    .my-rank-ranking{
        padding: 2px 0;
        color: #000;
        font-size: .16rem;
        background: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
    }
}

.empty-box{
    margin: 46px 16px 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(0,0,0,8%);
    text-align: center;
    padding: 25px 33px;
    .empty-inset{
        margin: 0 auto 20px;
    }
    .empty-tips{
        color: #6B6B6B;
        font-size: 18px;
        margin-bottom: 15px;
    }
    .empty-link{
        .btn-red;
        margin: 0;
    }
}

.mask{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .8);
	z-index: 99999;
	margin: 0;
	.mask-content{
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}
