
@import "@{static}/pagescript/userinfos/basicinfos/less/main";
@import "../../base/less/global";

.login{
    background-image:url("@{staticurl}/pagescript/chineseCharacter/base/img/bg-bottom.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size: 0;
}
html {
	.container {
        .form-control{
            border-color: rgba(255,255,255,.3)
        }
		.form {
			label {
				color: #fff;
				&.gender {
					color: #fff;
				}
			}
			.form-control {
				background-color: transparent;
			}
			input {
				color: #fff;
			}
			input[type="radio"] {
				border-radius: 50%;
			}
			select {
				color: #fff;
				z-index: 3 !important;
			}
		}
		padding-top: 59px;
		h1 {
			color: #fff;
            font-size: .14rem;
            font-weight: 400;
			&:before {
				background-color: @dc;
			}
		}
		background-color: transparent;
	}
	#submit-btn {
        border-radius: 5px;
        font-size: .15rem;
        font-weight: 500;
        text-align: center;
        height: .38rem;
        line-height: .38rem;
        width:100%;
        position: relative;
        transition: .15s ease;
        padding: 0;
        .bg-gredient('dark');
        border: none;
        &.btn-default{
            .bg-gredient('dark');
            color: #fff;
        }
        &[disabled]{
            opacity: .54;
            background: @bg-2;
            &:before{
                .border-onePX(5px,rgba(37, 237, 198, 1));
            }
            color: @dc;
        }
	}
    .tips{
        text-align: center;
        color: #fff;
        font-size: .12rem;
        margin: 1em 0;
    }
}
