@import "@{static}/pagescript/prize1/base/less/base";
@import "@{static}/modules/base/less/my-normalize";
@import "@{static}/modules/ui/usertype/less/main";
@import "@{static}/modules/base/less/variables";
@import "@{static}/modules/ui/showMsg/less/main";
@import "@{static}/common/bootstrap-3.3.5/less/mixins/vendor-prefixes";

@prize-base-img-url: "@{staticurl}/pagescript/prize1/base/img";

html {
	.backgroundImage(3);
}

.greeting {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: fade(#111,70%);
	.content {
		width: 311px;
		background-color: #fff;
		border-radius: 10px;
		margin: 134px auto;
		padding: 32px 0;
		h4 {
			font-size: 18px;
			margin-top: 19px;
			line-height: 1.22;
			text-align: center;
			color: rgba(0, 0, 0, 0.87);
		}
		.slogan  {
			font-size: 14px;
			margin-top: 7px;
			line-height: 1.14;
			text-align: center;
			color: rgba(0, 0, 0, 0.54);
		}
		.avatar {
			.avatar(48px);
		}
		.know-btn {
			.btn();
			margin-top: 32px;
			color: #fff;
		}
	}
}

.banner {
	.ribbon_gold();
	position: relative;
	width: 318px;
	margin: 100px auto 0;
	input {
		position: relative;
		top: -2px;
		width: 105px;
		height: 31px;
		line-height: 31px;
		text-align: center;
		font-size: 22px;
		color: #a06633;
		font-weight: bold;
		margin: 0 15px;
		border: solid 1px #d58282;
	}
	.avatar {
		.avatar();
		position: absolute;
		border: solid 3px #ffc026;
		top: -17px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}

.header {
	.ribbon_purple();
	margin-top: 50px;
}

.prize-btn  {
	.btn();
	margin-top: 55px;
}

.feelings {
	border: solid 3px #ffc026;
	border-radius: 4px;
	background-color: #f0f0f0;
	padding: 13px 8px 16px;
	margin: 0 13px;
	textarea {
		display: block;
		width: 100%;
		height: 164px;
		padding: 9px 12px;
		box-sizing: border-box;
		resize: none;
		font-size: 16px;
		border: solid 1px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		line-height: 1.25;
	}
}
