@import "@{static}/pagescript/event/base/less/base";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/link";
@import "@{static}/modules/base/less/mask";

.container {
	padding: 65px 15px 15px;
	text-align:center;
}
.tips1{
	color:@f1;
	font-size:16px;
	margin-bottom:30px;
	line-height:24px;
	text-align:center;
}
.tips2{
	color:@f1;
	font-size:14px;
	margin-bottom:25px;
	line-height:24px;
	text-align:center;
}
.tips3{
	color:@f1;
	font-size:14px;
	margin:100px 0 15px;
	line-height:24px;
	text-align:center;
}
.tips4{
	color:@f1;
	font-size:14px;
	margin:45px 0 100px;
	line-height:24px;
	text-align:center;
}
.link{
	color:@dc;
	font-size:13px;
	font-weight:normal;
}
.money{
	color:@f1;
	font-size:50px;
	margin-bottom:42px;
	text-align:center;
}
#pay_btn1{
	width:180px;
	height:60px;
	display:block;
	margin:0 auto 100px;
	font-size:16px;
	background:data-uri("../img/btn_wechat_pay.png");
	background-size:180px 60px;
	color:#fff;
	text-align:center;
	padding-top:12px;
	box-sizing:border-box;
	line-height:20px;
	strong{
		color:#fff;
		opacity:0.6;
		font-size:12px;
		font-weight:normal;
		display:block;
	}
}


.main {
	color: @f1;
	p {
		margin: 0 auto;
		text-align: center;
	}
	.result {		
		margin-top: 22px;
		font-size: 15px;
	}
	.desc {
		font-size: 13px;
	}
	.result + .desc {
		margin-top: 30px;
	}
}

footer {
	margin-top: 85px;
	.link {
		margin-top: 20px;
		&.link-default {
			font-weight: 400;
		}
	}
}

.set-mask(10);
.set-tip(20, 210px);