@import "@{static}/pagescript/comment/base/less/base";
@import "@{static}/modules/ui/load/less/load";
@import "@{static}/modules/base/less/bg";

.container {
	padding: 0px;
}
.bg.bg-full {
	background-image: data-uri('../img/img_comment_bg_list.png');
}

header {
	.title {
		width: 230px;
		height: 70px;
		background: data-uri('../img/img_comment_list_title.png') no-repeat;
		background-size: 100%;
		margin: 20px auto;
	}
	.tab {
		width: 206px;
		margin: -8px auto 15px;
		a {
			height: 20px;
			line-height: 20px;
			display: inline-block;
			width: 50%;
			text-align: center;
			font-size: 13px;
			background-color: @bg-1;
			color: @sc;
			&:nth-child(1) {
				border-radius: 10px 0 0 10px;
			}
			&:nth-child(2) {
				border-radius: 0 10px 10px 0;
			}
			&.active {
				background-color: @sc;
				color: @bg-1;				
			}
		}
	}
}

.rank-list, .mine {
	background: fade(@bg-1,15);
	.rank-list-detail {
		position: relative;
		padding: 0 75px 0 83px;
		height: 75px;
		display: block;
		.order {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 25px;
			height: 50px;
			line-height: 50px;
			margin: auto 0;
			text-align: center;
			color: @bg-1;
			font-size: 13px;
		}
		.portrait {
			position: absolute;
			top: 0;
			left: 25px;
			bottom: 0;
			width: 48px;	
			height: 48px;		
			margin: auto 0;
			border: 0;
			border-radius: 50%;
		}
		.name {
			margin-top: 22px;
			color: @bg-1;
			text-shadow: 0 1px 1px fade(@bg-3,50);
			font-size: 16px;	
			display: inline-block;
		    max-width: 100px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    vertical-align: middle;		
		}
		.new-comment {
			margin: 22px 0 0 5px;
			height: 12px;
			font-size: 12px;
			color: @bg-1;
			border-radius: 6px;
			background-color: @rc;
			padding: 0 5px;
			display: inline-block;
			vertical-align: middle;
		}
		.title, .rank {
			margin: 8px 0 0;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    color: fade(@bg-1,70);
		    font-size: 13px;
		}
		.score {
			position: absolute;
			top: 20px;
			right: 15px;
			width: 60px;
			text-align: right;
			color: @bg-1;
			font-size: 20px;
			font-weight: 700;
		}
	}
}

.mine {
	.rank-list-detail {
		height: 60px;
		.name, .new-comment{
			margin-top: 15px;	
		}
	}
} 

.rank-list {
	margin-top: 10px;
	hr {
		margin: 0 10px;
    	border-bottom-color: fade(@bg-1,30);
	}
	.rank-list-group:last-child hr:last-child {
		display: none;
	}
	.rank-list-group:first-child .rank-list-detail:first-child {
		background: data-uri('../img/img_comment_number_1.png') left top no-repeat;
		background-size: 50px;
		.order {
			display: none;
		}
		.score {
			color: @sc;
		}
	}
}