@imgurl : "@{staticurl}/pagescript/opportunity/all/img";
@border-color: @black_7;
.oppo-filters {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-size: 0.14rem;
	z-index: 1;
	.bg {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background: rgba(0,0,0,0.6);
	}
	.tabs,
   	.panel {
		background: #fff;
		.list-viewport {
			height: 4rem;
			background: #fff;
			overflow: hidden;
		}
	}
	.panel {
		font-weight: lighter;
	}
	.tabs {
		display: block;
		position: relative;
		border-bottom: 1px solid @border-color;
		.tab {
			width: 32%;
			box-sizing: border-box;
			height: 38px;
			display: inline-block;
			position: relative;
			padding: 10px 0;
			text-align: center;
			text-decoration: none;
			color: @greyish-brown;
			span {
				display: block;
				width: 80%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				right: .1rem;
				margin: auto 0;
				width: 13px;
				height: 6px;
				background: url("@{imgurl}/arrow-down-gray.png") no-repeat center center;
				background-size: contain;
			}
			&:nth-child(2) {
				border: 1px solid @border-color;
				border-width: 0 1px;
			}
			&.active {
				color: @fawn;
				&:after {
					background-image: url("@{imgurl}/arrow-up-gold.png");
				}
			}
			&.sel {
				color: @fawn;
				&:after {
					background-image: url("@{imgurl}/arrow-up-gold.png");
					transform: rotate(180deg);
				}
			}
			input {
				display: none;
			}
		}
	}
	.panel {
		a {
			display: block;
			text-decoration: none;
			padding: 10px 0;
			color: #000;
			input {
				display: none;
			}
		}
		ul {
			display: block;
			margin: 0;
		}
		li {
			display: block;
		}
		&.single {
			ul {
				font-size: 0;
				padding: 0.07rem 0.16rem;
				display: block;
				li {
					position: relative;
					height: 50px;
					box-sizing: border-box;
					width: 25%;
					display: inline-block;
					&:nth-child(4n) {
						padding-right: 0;
					}
					&:nth-child(4n+1) {
						padding-left: 0;
					}
					a {
						position: absolute;
						top: 5px;
						bottom: 5px;
						left: 5px;
						right: 5px;
						font-size: 14px;
						line-height: 20px;
						color: @black_30;
						background: @whiteF2;
					}
				}
			}
			a {
				text-align: center;
				&.active {
					color: #fff;
					background: @fawn;
				}
			}
		}

		&.dual {
			display: flex;
			flex-direction: row;
			.list-viewport {
				width: 50%;	
			}
			.level-1 {
				padding: 0;
				min-height: 100%;
				background: @whiteF2;
				a {
					padding-left: 16px;
					&.active {
						background: #fff;
					}
				}
			}
			.level-2 {
				padding: 0 0 0 16px;
				a {
					position: relative;
					&:after {
						content: "";
						position: absolute;	
						left: 0;
						right: 0;
						bottom: 0;
						border-bottom: 1px solid @border-color;
						transform:scaleY(0.5);
					}
					&.active {
						color: @fawn;
						&:after {
							border-color: @fawn;
						}
					}
				}
			}
		}
	}
}
