@import "@{static}/pagescript/opportunity/base/less/base";
.oppo-search-box {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background: #fff;
	button {
		padding: 0;
		border: none;
		outline: none;
	}

	.history {
		position: fixed;
		top: 44px;
		bottom: 0;
		left: 0;
		right: 0;
		background: #fff;
		.title {
			height: .36rem;
			padding-left: .12rem;
			line-height: .36rem;
			color: @black_54;
			font-size: .14rem;
			background: @whiteF2;
		}
		ul {
			font-size: 0;
			display: block;
			padding-left: .16rem;
			li {
				display: block;
				color: @black_87;
				font-size: .14rem;
				height: .4rem;
				line-height: .4rem;
				border-bottom: 1px solid @black_7;
				a {
					display: block;
				}
			}
		}
	}
	.input-container {
		font-size: 0;
		position: relative;
		background: @whiteEA;
		padding: 8px 10px;
		&.focused {
			padding-right: .54rem;
		}
		input {
			box-sizing: border-box;
			height: 28px;
			line-height: 28px;
			border-radius: 2px;
			border: none;
			outline: none;
			font-size: 14px;
			width: 100%;
			padding: 5px 8px;
			-webkit-appearance: none;
			&::-webkit-input-placeholder {
				text-align: center;
				color: fadeOut(#000,70%);
			}
			&:focus::-webkit-input-placeholder {
				text-align: left;
			}
			
		}
	}
	.cancel-btn {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto 0;
		right: .1rem;
		color: @fawn;
		font-size: .16rem;
		background: transparent;
	}
	.reset-btn {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 18px;
		text-align: center;
		margin: auto 0;
		width: 16px;
		height: 16px;
		color: @black_30;
		line-height: 14px;
		font-size: 14px;
		background: url("../img/cross.png") no-repeat center center/6px 6px;
		background-color: @whiteEA;
		border-radius: 50%;
	}
}
