@import "@{static}/common/bootstrap-3.3.5/less/mixins/vendor-prefixes";
.loading {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	@-webkit-keyframes sbin {
		from {
			.rotate(0deg);
		}
		to {
			.rotate(360deg);
		}
	}

	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 21px;
		height: 21px;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		z-index: 3;
		background: url("@{staticurl}/modules/ui/loading/img/img-loading.png") no-repeat center center;
		background-size: cover;
		.animation(sbin 1s infinite linear);
	}
}
