body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{margin:0;padding:0;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
body{ background:#FFF; -webkit-tap-highlight-color: transparent;-webkit-overflow-scrolling:touch;}
ul,ol{list-style:none}
html{font-size:62.5%;}
html,body{height:100%;}
a{ text-decoration:none;}
a:hover,a:focus,input:focus{outline:none;}
i,em{ font-style:normal;}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}
.clearfix:after{clear:both}
.pr{ position:relative;}
.pa{ position:absolute;}
.tc{ text-align:center;}
.fl{float:left;}
.fr{float:right;}
.tr{ text-align:right;}
/* public */
.btn-box{position:fixed;bottom:0;left:0; z-index:1; width:100%; margin-top:13px; padding:8px 0 8px; background:#FEFEFE; box-shadow:0 1px 6px 0 rgba(0,0,0,0.08);}
a.btns{ cursor:pointer; display:block; height:40px; margin:0 14px; padding:0 12px; border-radius:4px; text-align:center; font-size:1.5rem; color:#FFF; line-height:40px;}
a.btns-orange{background:#F4C953;}
a.btns-blue{background:#4CB7E8;}
a.btns-green{background:#34BA86;}
a.btns-red{background:#E0756E;}
a.btns-light-blue{background:#B3D8EA;}
a.btns-gray{background:#E4E4E4;}
a.ico-share{ position:relative; padding:0; text-align:left;}
a.ico-share.tc{ text-align:center;}
a.ico-share:before{ position:relative; right:7px; content:''; display:inline-block; width:15px; height:16px; margin:-2px 0 0 12px; background:url(../img/ico-share.png) no-repeat; background-size:15px 16px; vertical-align:middle}
a.btn-zan{ display:block; height:15px; padding-top:25px; background:url(../img/ico-zan.png) center 4px no-repeat; background-size:19px 19px; font-size:1.2rem; color:#8C8582;}
a.btn-zan-active{ background:url(../img/ico-zan-active.png) center 4px no-repeat; background-size:19px 19px; color:#C69B5F;}
.btn-box ul{ position:relative; padding:0 52px 0  14px; overflow:hidden; text-align:center;}
.btn-box li{ float:left;}
.btn-box li.td1{ width:50%;}
.btn-box li.td2{ box-sizing:border-box; width:50%; border-left:10px solid transparent; border-right:10px solid transparent;}
.btn-box .col-2 li.td2{width:100%; border-left:none; border-right:none;}
.btn-box .col-2 li.td2 a.ico-share,.btn-box .col-3 li.td2 a.ico-share{ text-align:center;}
.btn-box li.td3{ position:absolute; right:14px; top:0; float:none; width:38px;}
.btn-box li a.btns{margin:0;}
/* main */
.notice{height:34px; background:url(../img/bg-notice.png) no-repeat; background-size:100% 34px; line-height:34px; font-size:1.2rem; }
.notice a{ display:block; height:34px; padding:0 9px; color:rgba(255,255,255,.7);}
.notice a em{float:right; color:#FFE25C;}
.banner img{ display:block; width:100%;}
.id-info{margin-top:-35px;}
.id-info .peo-img{ position:relative; z-index:1; width:60px; height:60px; margin:0 auto 10px; border:3px solid #FFF; border-radius:100%; background:url(../img/temp.jpg) center no-repeat; background-size:cover; background-color:#FFF; box-shadow:0 0 10px 3px rgba(0,0,0,0.09);}
.id-info h3{ height:30px; line-height:30px; text-align:center; font-weight:normal; font-size:2rem; color:rgba(0,0,0,0.7);}
.id-info h3 em{ padding-left:5px; font-size:1.2rem; color:rgba(0,0,0,0.3);}
.id-info p.job{ margin:1px 0 10px; text-align:center; font-size:1.4rem; color:rgba(0,0,0,0.54);}
.id-info .peo-intro{ position:relative; margin:8px 14px 0; padding:16px 20px 15px; background:#F2F2F2; border-radius:3px;}
.id-info .peo-intro:before{position:absolute; left:50%; top:-14px; z-index:1; content:''; width:0; height:0; margin-left:-6px; border-width:7px; border-style:solid; border-color:transparent transparent #F2F2F2 transparent;}
.id-info .peo-intro h4{ margin-bottom:15px; font-size:1.8rem; color:rgba(0,0,0,0.7); line-height:22px; text-align:center;}
.id-info .peo-intro p{font-size:1.5rem; color:rgba(0,0,0,0.5); line-height:24px;}
.cot-box{ position:relative; margin-top:14px; padding:0 14px; border-top:10px solid #F2F2F2; border-bottom:10px solid #F2F2F2;}
.cot-box ul{ margin-bottom:12px; padding:8px 0 9px; border-bottom:1px solid #F6F6F6; font-size:1.6rem;}
.cot-box li{ margin:5px 0; line-height:30px;}
.cot-box li p{margin-left:78px; color:rgba(0,0,0,0.5);}
.cot-box li span{ position:absolute; left:0; top:0; display:inline-block; color:rgba(0,0,0,0.7); font-weight:bold;}
.cot-box li span:before{ content:''; display:inline-block; float:left; width:5px; height:5px; margin:13px 9px 0 0; border-radius:5px; background:#4CB7E8;}
.cot-box li span i{ visibility:hidden;}
.cot-box .cot{ padding-top:3px; padding-bottom:13px; font-size:1.6rem; color:rgba(0,0,0,0.5); line-height:24px;}
.cot-box .cot p{ font-size:1.6rem; line-height:24px;}
.cot-box a.btn-schedule{ position:absolute; right:14px; top:20px; display:block; height:16px; padding-left:16px; background:url(../img/ico-date.png) 0 1px no-repeat; background-size:13px auto; line-height:16px; color:#55B3EE; font-size:1.2rem;}
.apply{padding:0 14px; }
.apply .tit{height:22px; padding:11px 0 0; overflow:hidden; line-height:22px;}
.apply .tit h2{float:left; font-size:1.6rem; color:rgba(0,0,0,0.7); font-weight:bold;}
.apply .tit h2 span{ padding-left:3px; font-weight:normal;}
.apply .tit a{ display:inline-block; float:right; height:22px; font-size:1.4rem; color:#6DA7DF;}
.apply ul{padding:1px 0 0;}
.apply li{ min-height:51px; margin-top:13px; padding-bottom:10px; border-bottom:1px solid #F6F6F6; overflow:hidden;}
.apply li:last-child{ padding-bottom:0; border-bottom:none;}
.apply li h4{ margin:6px 0 0 64px; font-size:1.6rem; color:rgba(0,0,0,0.87); font-weight:normal; line-height:18px;}
.apply li h4:after,.list li h4:after{ position:relative; left:2px; top:2px; content:''; display:inline-block; width:15px; height:15px; margin:0 3px; line-height:15em; overflow:hidden;}
.apply li h4.ico-vip1:after,.list li h4.ico-vip1:after{ background:url("../img/ico-vip2-sm.png"); background-size:15px 15px;}
.apply li h4.ico-vip2:after,.list li h4.ico-vip2:after{ background:url("../img/ico-vip3-sm.png"); background-size:15px 15px;}
.apply li h4.ico-vip3:after,.list li h4.ico-vip3:after{ background:url("../img/ico-vip4-sm.png"); background-size:15px 15px;}
.apply li h4.ico-vip4:after,.list li h4.ico-vip4:after{ background:url("../img/ico-vip5-sm.png"); background-size:15px 15px;}
.apply li h4.ico-vip5:after,.list li h4.ico-vip5:after{ background:url("../img/ico-vip1-sm.png"); background-size:15px 15px;}
.apply li h4 em{ padding-left:5px; font-size:1.2rem; color:rgba(0,0,0,0.3); }
.apply li p{ margin-left:64px; font-size:1.3rem; color:rgba(0,0,0,0.54);}
.apply li span{left:0; top:0; width:48px; height:48px; margin:0 auto; border-radius:100%; background:url(../img/temp.jpg) center no-repeat; background-size:cover; }
.apply .p-tip{height:26px; margin:7px 0 0; background:#F0F7FD; line-height:26px; text-align:center; font-size:1.2rem; color:#80A8D0}
.apply .p-tip a{ color:#80A8D0}
.apply-tip{ padding-bottom:5px; text-align:center; font-size:1.4rem; color:rgba(0,0,0,0.7); line-height:40px}
.apply-tip em{color:#4CB7E8;}
.list{margin:0 14px; overflow:hidden;}
.list li{ min-height:51px; margin-top:13px; padding-bottom:15px; border-bottom:1px solid #F6F6F6; overflow:hidden;}
.list li:last-child{ border-bottom:none;}
.list li h4{margin:5px 43px 0 64px; font-size:1.6rem; color:rgba(0,0,0,0.87); font-weight:normal; line-height:18px;}
.list li h4 em{ padding-left:5px; font-size:1.2rem; color:rgba(0,0,0,0.3); }
.list li p{ margin-left:64px; margin-right:43px; font-size:1.3rem; color:rgba(0,0,0,0.54);}
.list li .list-btn{ margin:11px 0 0 64px; font-size:1.4rem; color:rgba(0,0,0,0.54); overflow:hidden;}
.list li .list-btn a{ display:inline-block; float:left; height:22px; margin-right:7px; padding:0 12px; border:1px solid #FFF; border-radius:3px; line-height:22px;}
.list li .list-btn a.btn-agree{border-color:#4CB7E8; background:#4CB7E8; color:#FFF;}
.list li .list-btn a.btn-reject{border-color:rgba(0,0,0,0.20); background:#FFF; color:rgba(0,0,0,0.3);}
.list li .list-btn a.btn-clicked{ padding:0; border-color:#FFF; background:#FFF; color:rgba(0,0,0,0.3);}
.list li span.peo-bg{left:0; top:0; width:48px; height:48px; border-radius:100%; background:url(../img/temp.jpg) center no-repeat; background-size:cover; }
.list li span.peo-date{right:0; top:14px; font-size:1.2rem; color:rgba(0,0,0,0.3); line-height:18px;}
/* pay */
.pay{margin:-27px 14px 0; text-align:center;}
.pay .pay-ico{ position:relative; z-index:1; width:56px; height:56px; margin:0 auto; border-radius:100%; }
.pay .pay-ico.ico-hand{background:#FFF url(../img/ico-hand.png) center no-repeat; background-size:26px 25px; }
.pay h2{ padding:13px 0 9px; font-size:1.8rem; color:#333; line-height:26px; font-weight:bold;}
.pay h3{ padding:2px 0 9px; font-size:1.8rem; color:#333; line-height:26px; font-weight:bold;}
.pay .pay-notice{font-size:1.2rem; color:rgba(0,0,0,0.40); line-height:18px;}
.pay .pay-tip{font-size:1.4rem; color:rgba(0,0,0,0.40); line-height:18px;}
.pay .pay-bot{ padding:40px 0 0;}
.pay .pay-bot a{}
.pay .pay-bot a.btns{margin:0; background:#1AAE18; }
.pay .pay-bot p{ padding-top:20px; font-size:1.2rem; color:rgba(0,0,0,0.8); line-height:24px;}
.pay .pay-bot p a{color:rgba(0,0,0,0.8);}
/* rule */
.banner-rule img{ display:block; width:100%;}
.rule-cot{padding:7px 14px 22px;}
.rule-cot h2{padding:7px 0 8px; font-size:1.6rem; color:#000; line-height:22px;}
.rule-cot p{font-size:1.5rem; color:rgba(0,0,0,0.54); line-height:22px}
/* mySchedule */
.my-schedule{}
.my-schedule h2{ position:relative; margin:23px 0 24px; font-weight:normal; text-align:center; font-size:1.8rem; color:rgba(0,0,0,0.8); overflow:hidden;}
.my-schedule h2:before,.my-schedule h2:after{ position:absolute;top:14px; content:''; display:block; width:22px; height:1px; opacity:0.4; background:#979797; overflow:hidden;}
.my-schedule h2:before{ left:50%; margin-left:-90px;}
.my-schedule h2:after{ right:50%; margin-right:-90px;}
.my-schedule .cry-box{ position:static; left:0; top:0; display:block; margin-top:0;}
.my-schedule .cry-box li{margin-bottom:12px;}
.my-schedule .cry-box li,.my-schedule .cry-box li span.td1 em,.my-schedule .cry-box li p{ font-size:1.4rem; line-height:22px;}
.my-schedule .cry-box li{height:61px;}
.my-schedule .cry-box li p{ min-height:44px;  padding-left:60px;}
.my-schedule .cry-box li span.td1{top:13px; width:36px;}
.my-schedule .cry-box li span.td1 em{ position:relative; margin-top:-2px;}

/* mask */
.mask{position:fixed;top:0;right:0;bottom:0;left:0; z-index:2; display:none; background:rgba(0,0,0,.5);}
.mini-box{margin:0 22px; border-radius:4px; background:#FFF; text-align:center; overflow:hidden;}
.blank-btn-box{height:56px;}
.share-box,.share-box-pc,.apply-box,.order-box,.pay-box,.cry-box{position:fixed;left:0; top:35px; z-index:2; display:none; width:100%; overflow:hidden;}
.apply-box,.order-box,.pay-box,.cry-box{top:70px;}
.share-box:before{content:"";position:absolute; z-index:3; right:27px; top:-26px; display:block; width:36px; height:26px; background:url(../img/bg-share-top.png) center no-repeat; background-size:36px 26px;}
.share-box h2,.share-box-pc h2{ padding:39px 0 27px; font-weight:normal; font-size:1.7rem; color:#1E1E1E; line-height:22px;}
.share-box .share-img{width:112px; height:94px; margin:0 auto; background:url(../img/bg-share-mid.png) no-repeat; background-size:112px 94px; }
.share-box p{ padding:24px 0 37px; font-size:1.4rem; color:#6B6B6B; line-height:16px;}
.share-box-pc h2{ padding:39px 0 17px; }
.share-box-pc p{ padding:0 0 0 58px; font-size:1.4rem; color:#003E00; text-align:left; line-height:35px;}
.share-box-pc p:before{ content:'1'; display:inline-block; float:left; width:21px; height:21px; margin:6px 10px 0 0; border-radius:100%; font-size:1.4rem; color:#FFF; text-align:center; line-height:21px;}
.share-box-pc p.ico-num-1:before{content:'1';background:#F5984B;}
.share-box-pc p.ico-num-2:before{content:'2'; background:#6CD39B;}
.share-box-pc p em{color:#F5984B;}
.share-box-pc .auto-close{ padding:32px 0 20px; font-size:14px; color:#AFAFAF; }
.ico-right{width:44px; height:36px; margin:42px auto 28px; background:url(../img/ico-right.png) center no-repeat; background-size:44px 36px;}
.apply-box h2,.order-box h2,.pay-box h2,.cry-box h2{ font-weight:bold; font-size:2rem; color:#333;}
.apply-box p,.order-box p,.pay-box p{ padding:4px 30px 44px; font-size:1.6rem; color:#999; line-height:22px;}
.apply-box a.btns{margin:0 90px 34px;}
.order-box{top:50%; margin-top:-210px; overflow:hidden;}
.order-box .bg-order{height:220px; background:url(../img/bg-order.jpg) center bottom no-repeat; background-size:cover; overflow:hidden;}
.order-box .bg-order a.btns{margin:152px 82px 0;}
.order-box .btn-close{ position:absolute; right:15px; top:15px; display:block; width:11px; height:11px; background:url(../img/ico-close.png) no-repeat; background-size:11px 11px;}
.loading{display:block;width:42px;height:40px;margin:20px auto;background:url(../img/img-loading.png) center no-repeat;  background-size:42px 40px; animation:ripple .6s linear infinite}
@keyframes ripple{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
.pay-box{top:116px;}
.pay-box h2{padding:27px 0 14px;}
.pay-box .bot{ border-top:1px solid rgba(0,0,0,.1);}
.pay-box .bot a{ display:inline-block; height:42px; line-height:42px; font-size:1.8rem; color:rgba(0,0,0,0.3); }
.cry-box{top:50px;}
.cry-box .mini-banner img{ display:block; width:100%}
.cry-box .ico-cry{width:46px; height:46px; margin:30px auto 0px; background:url(../img/ico-cry.png) center no-repeat; background-size:46px 46px;}
.cry-box h2{padding:15px 16px 0; font-size:1.7rem; line-height:21px;}
.cry-box p{ padding:0 16px 13px; font-size:1.3rem; color:#999; line-height:22px;}
.cry-box ul{margin:0 20px; text-align:center;}
.cry-box li{ position:relative; height:43px; margin-bottom:8px; padding-right:8px; border:1px solid #DFDFDF; border-radius:3px; overflow:hidden; color:rgba(0,0,0,0.4); text-align:left;}
.cry-box li p{ min-height:28px; margin:8px 0 7px; padding:0 0 0 52px; line-height:normal; font-size:1.2rem; text-overflow:-o-ellipsis-lastline;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical; color:rgba(0,0,0,0.4); -webkit-box-pack: center;}
.cry-box p a{color:rgba(0,0,0,0.4);}
.cry-box li p.checking{ padding-right:50px;}
.cry-box li span.td1{ position:absolute; left:10px; top:8px; width:30px; border-right:1px solid #DFDFDF;  line-height:normal; overflow:hidden;}
.cry-box li span.td1 em{ display:block; font-size:1.2rem; line-height:normal;}
.cry-box li.active-right,.cry-box li.active-wrong,.cry-box li.active-right p,.cry-box li.active-wrong p{ color:rgba(255,255,255,.9)}
.cry-box li.active-right{ border-color:#DFDFDF; background:#67CCA5;}
.cry-box li.active-right p{ margin-right:0; padding-right:30px; background:url(../img/ico-right-sm.png) right center no-repeat; background-size:18px 18px;}
.cry-box li.active-wrong{ background:#F9A39D}
.cry-box li.active-wrong p{ margin-right:0; padding-right:20px; background:url(../img/ico-wrong-sm.png) right center no-repeat; background-size:18px 18px;}
.cry-box li.active-right span.td1,.cry-box li.active-wrong span.td1{border-right-color:rgba(255,255,255,.44); }
.cry-box li span.td2{ position:absolute; right:10px; top:50%; display:block; height:14px; margin-top:-8px; padding:0 4px; border:1px solid #75BBED; border-radius:3px;  line-height:14px; overflow:hidden; color:#4AA5E7; font-size:1.2rem; transform:scale(0.9)}
.cry-box .bot{margin:14px 0 22px}
.cry-box .bot a{ display:inline-block; margin:0 4px; padding:0 35px;}
.zan-past{ position:fixed; left:0; top:50%; display:none; width:70%; height:44px; margin:-22px 50px 0; border-radius:4px; background:rgba(0,0,0,.6); font-size:1.6rem; color:#FFF; line-height:44px; text-align:center;}

