@import "@{static}/modules/ui/usertype/less/main";
.avatar(@size:72px,@iconSize:20px){
    width: @size;
    height: @size;
    background-size:cover;
    border-radius: 50%;
    position: relative;
    .avatar-with-type-icon-onside(@iconSize,@size/2);
}


.bg-gredient(@type) when(@type = 'dark'){
    background-image: -webkit-linear-gradient(left, #0a91e4, #00e8bc);
    background-image: linear-gradient(to right, #0a91e4, #00e8bc);
}
.bg-gredient(@type) when(@type = 'light'){
    background-image: -webkit-linear-gradient(left, #04DAFC, #25EDC6);
    background-image: linear-gradient(to right, #04DAFC, #25EDC6);
}

.halo(@type:"l") when(@type = "l"){
    background: url("@{staticurl}/pagescript/chineseCharacter/base/img/halo.png") no-repeat center top;
    background-size: 100% auto;
    width: 2.5rem;
    height: 1.8rem;
    margin: 0 auto;
}
.halo(@type:"m") when(@type = "m"){
    background: url("@{staticurl}/pagescript/chineseCharacter/base/img/halo.png") no-repeat center top;
    background-size: 100% auto;
    width: 1.06rem* (2.5/1.8);
    height: 1.06rem;
    margin: 0 auto;

}
.halo(@type:"s") when(@type = "s"){
    background: url("@{staticurl}/pagescript/chineseCharacter/base/img/halo-s.png") no-repeat center top;
    background-size: 100% auto;
    width: 2.87rem/2;
    height: 1.93rem/2;
    margin: 0 auto;
}

.halo(@type:"screen") when (@type = "screen") {
    background: url("@{staticurl}/pagescript/chineseCharacter/base/img/screen-halo-s.png") no-repeat center top;
    background-size: 100% auto;
    width: 2.56rem/2;
    height: 1.93rem/2;
    margin: 0 auto;
}

.halo(@type:"screen-l") when (@type = "screen-l") {
    background: url("@{staticurl}/pagescript/chineseCharacter/base/img/screen-halo.png") no-repeat center top;
    background-size: 100% auto;
    width: 2.2rem;
    height: 1.8rem;
    margin: 0 auto;
}


.char(@type:"l") when (@type = "l"){
    color: #fff;
    font-size: .8rem;
    font-family: "MFLiHei";
    text-shadow: 0 4px 7px rgba(0,0,0,0.50);
}
.char(@type:"m") when (@type = "m"){
    color: #fff;
    font-size: .7rem;
    font-family: "MFLiHei";
    text-shadow: 0 4px 7px rgba(0,0,0,0.50);
}
.char(@type:"s") when (@type = "s"){
    color: #fff;
    font-size: .5rem;
    font-family: "MFLiHei";
    text-shadow: 0 3px 5px rgba(0,0,0,0.50);
}
