/* wmp全站颜色配置 */
//主色
@dc:    #15E4E0;
@dc-p:  #00ACA9;

//辅色
@sc:    #05DAFA;
@sc-p:  #0A91E4;

// 字体颜色
@f1:    #282828;
@f2:    #9B9B9B;
@f3:    #BEBEBE;

//背景颜色
@bg-1:  #fff;
@bg-2:  #1E222E;
@bg-3:  #000;

//警告色
@ac:    #ff6161;

//div
@div: #FFF;

//button style
@btn-default-color: @dc;
@btn-default-bg: @bg-1;
@btn-default-border: @dc;

@btn-primary-color: @bg-1;
@btn-primary-bg: @dc;
@btn-primary-border: @dc;

@btn-warning-color: @bg-1;
@btn-warning-bg: @sc;
@btn-warning-border: @sc;

@btn-disabled-bg: @dc;
@btn-disabled-border: @dc;

//link style
@link-default-color: @dc;
@link-default-bg: @bg-1;
