@import "@{static}/pagescript/forum/base/less/base";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/mask";

.set-mask(10);
.set-tip(10,215px,@dc);

.mask {
    background-color: fade(@bg-3, 85%)
}

.container {
    padding: 40px 15px 15px;
}

.icon {
    width: 55px;
    height: 55px;
    margin: 0 auto;
    background: data-uri('../img/img_verification_pass.png') no-repeat center center;
    background-size: 100% auto;
}

p {
    margin:0;
}

.main {
    padding: 0 10px;
    .text-1 {
        margin-top: 22px;
        .font-main();
        text-align: center;
        font-weight: 700;
    }

    .text-2 {
        margin-top: 38px;
        color: @f1;
        font-size: 14px;
        span {
            font-weight: 700;
        }
    }
    .contact {
        font-size: 0;
        span, a {
            color: @f2;
            font-size: 14px;
        }
        span + span, span + a {
            margin-left: 15px;
        }
    }
    p:nth-of-type(3) {
            margin-top: 20px;
    }
}

.btn {
    margin-top: 80px;
}
.tips {
    margin-top: 10px;
    color: @f2;
    font-size: 12px;
}