@import "@{static}/pagescript/wishing-tree/base/less/base"; 
@import "@{static}/modules/ui/showMsg/less/main"; 
html {
	height: 100%;
	.bg-sky();
	background-attachment: fixed;
}

@anim-time: 0.5s;

.content-wrap {
	.toR(padding-top,24);
	.toR(padding-bottom,50);

	&.preview-mode {
		.new-wish-tip {
			.toR(top, -100);
		}
		.user-info {
			.toR(top,29);
		}
		.btn-g-preview {
			.toR(bottom,30);
		}
		.btn-g-edit {
			.toR(bottom,-300);
		}
	}
}

.new-wish-tip {
	transition: @anim-time;
	.wish-tip(457/2,73/2,2);
}


.btn-g-edit {
	transition: @anim-time;
}


.btn-wrap {
	position: fixed;
	.toR(bottom,30);
	left: 0;
	right: 0;	
}

.btn-g-preview {
	transition: @anim-time;
	.toR(bottom,-300);
	.btn-rewrite {
		display: block;
		.toR(margin-top,12);
		color: #9b9b9b;
		.toR(font-size,12);
		text-align: center;
	}
}


.btn-next {
	.btn(yellow);
}

.btn-pub {
	.btn(yellow);
}

.card-title {
	.wish-title(1);	
}

.input-counter {
	position: relative;
	.toR(top,-40);
	.toR(font-size,15);
	color: #B7B7B7;
	text-align: right;
}

.wish-textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	.toR(height,300);
	// .toR(height,800);
	.toR(font-size,15);
	.toR(margin-top,10);
	color: #000;
	border: none;
	text-align: justify;
	background: transparent;
	&::-webkit-input-placeholder {
		font-size: inherit;
	}
	&[readonly] {
		color: #000 !important;
		.toR(font-size,15);
	}
}

.card {
	position: relative;
	.wish-card(535/2);
	.with-belt(158);
	.toR(height,530);
	margin: auto;
	.toR(margin-top,80);
	&:after {
		transform: scale(1.3);
		z-index: -1;
	}
}
