@import "@{static}/modules/base/less/page";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/qr";
@import "@{static}/pagescript/base/less/base";
@import "@{static}/pagescript/center/base/less/base";
@images-icon:"@{static}/pagescript/center/template/icon/img/";
.icon{
	display:inline-block;
	vertical-align:middle;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:20px 20px;
	width:20px;
	height:20px;
}
.icon-business{
	background-image:data-uri("@{images-icon}profile_img_business_list@2x.png");
	position:absolute;
	top:0px;
	left:0px;
}
.icon-community{
	background-image:data-uri("@{images-icon}profile_img_community_list@2x.png");
	position:absolute;
	top:0px;
	left:0px;
}
.icon-nonbusiness{
	background-image:data-uri("@{images-icon}profile_img_nonbusiness_list@2x.png");
	position:absolute;
	top:0px;
	left:0px;
}
.icon-cup{
	background-image:data-uri("@{images-icon}profile_img_cup@2x.png");
	position:absolute;
	top:15px;
	left:0px;
}
.icon-other{
	background-image:data-uri("@{images-icon}profile_img_other_list@2x.png");
}
.icon-zhisland{
	background-image:data-uri("@{images-icon}profile_img_zhisland_list@2x.png");
}
.icon-phone{
	background-image:data-uri("@{images-icon}profile_btn_phone@2x.png");
}
.icon-phone-pressed{
	background-image:data-uri("@{images-icon}profile_btn_phone_pressed@2x.png");
}
.icon-email{
	background-image:data-uri("@{images-icon}profile_btn_email@2x.png");
}
.icon-email-pressed{
	background-image:data-uri("@{images-icon}profile_btn_email_pressed@2x.png");
}
.icon-fire{
	background-image:data-uri("@{images-icon}gold_fire@2x.png");
	background-size:22px 22px;
	width:22px;
	height:22px;
}
.icon-write{
	background-image:data-uri("@{images-icon}profile_btn_write@2x.png");
	background-size:15px 15px;
	width:15px;
	height:15px;
}
.icon-changecard{
	background-image:data-uri("@{images-icon}profile_changecard@2x.png");
	background-size:14px 12px;
	width:14px;
	height:12px;
}
.icon-arrow{
	background-image:data-uri("@{images-icon}profile_arrow_company@2x.png");
	background-size:5px 11px;
	width:5px;
	height:11px;
}
.icon-default-headimg{
	background-image:data-uri("@{images-icon}img_profile_default.png");
	background-size:100% auto;
}
.icon-bee{
	background-image:data-uri("@{images-icon}img_bee.png");
	background-size:22px 22px;
	width:22px;
	height:22px;
}
.icon-dolphin{
	background-image:data-uri("@{images-icon}img_dolphin.png");
	background-size:22px 22px;
	width:22px;
	height:22px;
}
.icon-eagle{
	background-image:data-uri("@{images-icon}img_eagle.png");
	background-size:22px 22px;
	width:22px;
	height:22px;
}
.icon-lion-gold{
	background-image:data-uri("@{images-icon}img_lion_gold.png");
	background-size:22px 22px;
	width:22px;
	height:22px;
}
.icon-lion-green{
	background-image:data-uri("@{images-icon}img_lion_green.png");
	background-size:22px 22px;
	width:22px;
	height:22px;
}
