@import "@{static}/modules/base/less/wx-normalize";
@import "../../base/less/scaffold";
@import "../../footer/less/main";

.content {
	padding-left: 0;
}

.success-msg {
	text-align: center;
	font-size: 20px;
	color: @f1;
	margin-top: 205px;
}

.pub-new-btn {
	display: block;
	width: 390px;
	height: 50px;
	margin: 80px auto 308px;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	background: @dc;
	color: @bg-1;
}
