@import "@{static}/modules/base/less/variables.less";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{margin:0;padding:0;font-family:'\5FAE\8F6F\96C5\9ED1';}
body{ -webkit-tap-highlight-color: transparent;}
ul,ol{list-style:none}
html{font-size:62.5%;}
a{ text-decoration:none;}
a:hover,a:focus{outline:none;}
i,em{ font-style:normal;}
.pr{ position:relative;}                                                                                         
.pa{ position:absolute;}
.tc{ text-align:center;}
.fl{float:left;}
.fr{float:right;}
.tr{ text-align:right;}
.mb0{ margin-bottom:0 !important}
/* bg */
.detail-top{ background:url(../img/detail-bg-top.png) no-repeat; background-size:100% auto;}
.detail-txt{background:url(../img/detail-txt.png) no-repeat; background-size:97px 19px;}
.code2:before,.code2:after,.vote-money{background:url(../img/bg-detail.png) no-repeat;background-size:101px auto;}
.detail-bot{background:url(../img/detail-bg-bot.png) no-repeat;background-size:100% 139px;}
.logo-sm{background:url(../img/logo-sm.png) no-repeat;background-size:45px auto;}
.ico,.btn-share-subj:after,a.btn-unfolded:after,.recd-by h3:before{background:url(../img/sprites.png) no-repeat;background-size:15px auto;}
.vote-mini-bg{background:url(../img/detail-bg-bot2.png) center bottom no-repeat;background-size:100% auto;}
.line-hr{background:url(../img/hr-line.png) repeat-x;background-size:4px 5px;}
.h2-txt1{background:url(../img/img_title_a.png) 0 11px no-repeat;background-size:63px 15px;}
.h2-txt2{background:url(../img/img_title_b.png) 0 11px no-repeat;background-size:63px 15px;}
.subj-tag li:first-child{background:url(../img/subj-tag.png) no-repeat;background-size:160px 60px;}
.subj-tag li:last-child{background:url(../img/subj-tag.png) -80px 0 no-repeat;background-size:160px 60px;}
.subj-cot li .ico-top{background:url(../img/img_label_c.png) no-repeat;background-size:35px auto;}
.subj-tag li:first-child.active{ background-position:0 -30px;}
.subj-tag li:last-child.active{ background-position:-80px -30px;}
/* detail */
.detail-top{height:35px;}
.detail-txt{width:97px;height:19px;margin:34px auto 25px;}
.share-p{ padding:0 30px;font-size:1.3rem; color:@f2; line-height:22px; text-align:center;}
.code2{ position:relative; z-index:2;width:159px;height:159px;margin:30px auto;border:1px solid #F1F1F1;}
.code2 img{width:100%;}
.code2:before,.code2:after{content:''; position:absolute; display:block;}
.code2:before{left:-59px;bottom:0;width:59px;height:100px; background-position:0 -123px;}
.code2:after{right:-41px;top:-2px;width:41px;height:75px; background-position:-60px -133px;}
.detail-bot{ position:fixed;left:0;bottom:0; z-index:1;width:100%;height:139px;}
.logo-sm{width:45px;height:16px;margin:0 auto;}
.detail-bot .logo-sm{margin:73px auto 0;}
.mask{ position:fixed;left:0;top:0; z-index:9;width:100%;height:0;background:rgba(0,0,0,.7); transition:all .3s; opacity:0;}
.vote-mini{ position:fixed; top:-280px; z-index:10;width:100%; text-align:center;transition:all .6s; opacity:0;}
.vote-mini-bg{height:280px;margin:0 25px;border-radius:4px;background-color:#FFF;}
.ico-share-tip{right:29px;top:-38px; display:block;width:14px;height:22px; background-position:0 -130px;}
.vote-mini h2{padding:31px 0 3px;color:@f1; font-size:1.5rem;}
.vote-mini p{ color:@f2;font-size:1.3rem; line-height:22px;}
.vote-money{width:83px;height:119px;margin:16px auto;}
.line-hr{height:5px;margin:0;padding:0;border:none; overflow:hidden;}
.h2-tit{height:39px;margin:2px 15px 0; line-height:39em; overflow:hidden;}
.team-list-box{height:66px; margin:0 0 15px 15px; overflow:hidden;}
.team-list{ overflow:scroll;}
.team-list::-webkit-scrollbar{width:0;}
.team-list ul{width:1000px; overflow:hidden;}
.team-list li{ position:relative;float:left; box-sizing:border-box;width:135px;height:64px; margin-right:8px;border:1px solid #CECECE; border-radius:4px; overflow:hidden; transition:all .6s;}
.team-list li:last-child{margin-right:0;}
.team-list li a{display:block;width:135px;height:64px;overflow:hidden;}
.team-list li a:hover{background:#F6F6F6;}
.team-list li img{float:left;width:35px;height:35px;margin:13px 10px 0 10px; border:1px solid #D0D0D0; border-radius:35px;}
.team-list li p{ margin-top:11px; font-size:1.3rem; color:@f2;}
.team-list li p strong{ display:block;font-size:1.5rem; color:@f1; font-weight:normal;}
.team-list li p.no-tip{display:table;height:40px;}
.team-list li p strong{display:table-cell;vertical-align:middle;}
.team-list-2 li p{ display:table;height:40px;}
.team-list-2 li p strong{ display:table-cell;margin-top:20px; vertical-align:middle;}
.subj-tag{ z-index:1;width:160px;height:30px;margin:0 auto;padding:30px 0 15px; border-radius:4px; overflow:hidden;}
.subj-tag ul{width:160px;height:30px;}
.subj-tag li{float:left;width:80px;height:30px; line-height:30em; overflow:hidden;}
.subj-cot-box{ display:none;}
.subj-cot-box.active{display:block;}
.subj-cot{ margin-bottom:11px;}
.subj-cot.active{display:none;}
.subj-cot ul{margin:0 0 0 15px;}
.subj-cot li{ position:relative; padding-left:48px;border-bottom:1px solid #CECECE; overflow:hidden;}
.subj-cot li a{ display:block; color:#333; overflow:hidden;}
.subj-cot li h4{height:22px;margin-top:12px;margin-right:15px;line-height:22px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-size:1.3rem; color:@f1; font-weight:normal; }
.subj-cot li p{margin:1px 15px 7px 0; line-height:18px; overflow:hidden;color:@f2; font-size:1.3rem;
text-overflow:-o-ellipsis-lastline;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.subj-cot li .subj-tip{ padding:0 10px 12px 0; font-size:1.2rem; overflow:hidden;}
.subj-cot li .subj-tip span{ display:block;height:17px; padding-left:15px; background-position:0 4px; line-height:17px; color:@f3; ;}
.subj-cot li .subj-tip span.fl{width:135px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.subj-cot li .subj-tip span.fr{background-position:0 -13px;}
.subj-cot li img{left:0;top:14px;width:36px;height:36px; border:1px solid #E0E0E0;}
.subj-cot li .ico-top{ position:absolute;right:0;top:0; display:block;width:35px;height:15px;}
a.btn-blue,a.btn-orange,a.btn-gray{display:block;box-sizing:border-box;height:38px;margin:15px 15px 11px;padding:0 12px;border:1px solid transparent;border-radius:5px; text-align:center; line-height:38px;color:#FFF; font-size:1.5rem;font-weight:400;vertical-align:middle;touch-action:manipulation;white-space:nowrap;font-size:15px;border-radius:5px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
a.btn-blue{ border-color:#3aa978;background:#3AA978;}
a.btn-blue[disabled]{border-color:#C0C4C6;background:#C0C4C6;}
a.btn-blue:active{background-color:#1d764e}
a.btn-blue[disabled]:active{background:#C0C4C6;}
a.btn-orange{ background:#F99145}
a.btn-gray{ background:#C0C4C6;}
.btn-share-subj{ position:relative; display:block;margin-top:-10px;padding:10px 0; color:@f2; font-size:1.2rem; line-height:20px;}
.btn-share-subj:after{content:''; position:relative;left:5px;top:2px; display:inline-block;width:7px;height:11px;background-position:0 -31px;}
.banner-top img{width:100%; display:block; margin-bottom:8px;}
.cp-logo-info{ position:relative;padding:9px 0 0 15px;}
.cp-logo-info img{ position:absolute;left:15px;top:9px; display:block;width:59px;height:59px; border:1px solid #E0E0E0;}
.cp-logo-info h2{height:22px; margin-bottom:4px; padding-left:72px; line-height:22px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-weight:normal; font-size:1.6rem;color:@f1}
.cp-logo-info .cp-tag{padding-left:72px;color:@f3}
.cp-logo-info .cp-tag span{ display:inline-block;height:18px; margin-right:15px; padding-left:13px; font-size:1.3rem; line-height:18px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.cp-logo-info .cp-tag span:first-child{ display:block; background-position:0 4px;}
.cp-logo-info .cp-tag span:nth-child(2){ background-position:0 -44px;}
.cp-logo-info .cp-tag span:nth-child(3){ background-position:0 -61px;}
.cp-logo-info .cp-tag span:last-child{ background-position:0 -12px;}
.cp-logo-info p{margin:10px 10px 0 0; padding-top:10px; padding-bottom:10px;border-top:1px solid #E7E7E7;color:@f1; font-size:1.5rem;word-wrap:break-word; word-break:break-all;}
.line-hr2{height:10px;margin:0;padding:0; border:none; background:#F2F2F2; overflow:hidden;}
.cp-cot{ padding:0 0 20px 15px; transition:all .6s;}
.cp-cot h3{height:40px;border-bottom:1px solid #E7E7E7; line-height:40px; font-size:1.3rem; font-weight:normal;color:@f1}
.cp-cot p{ padding:11px 10px 0 0; color:@f1; font-size:1.5rem;word-wrap:break-word; word-break:break-all;}
.subj-info{ transition:none;overflow:hidden;}
.cp-cot p strong{ display:block; margin-bottom:5px; font-weight:normal; color:@f2; font-size:1.3rem;}
.cp-cot .tc{ padding-right:15px;}
a.btn-unfolded{ position:relative; display:block;padding:15px 20px;line-height:22px; font-size:1.3rem; color:@f2;}
a.btn-unfolded:after{content:''; position:absolute;left:50%;top:21px;width:10px;height:10px;margin-left:32px; background-position:0 -95px;}
.team-info{ padding:5px 0 5px; overflow:hidden;}
.team-info li{float:left;height:48px;margin:10px 0; border-right:15px solid transparent; box-sizing:border-box;width:50%;}
.team-info li img{float:left;width:48px;height:48px;margin-right:9px;border-radius:48px;}
.team-info li p{padding:0; font-size:1.2rem;}
.team-info li p strong{ display:block;height:21px; margin:3px 0 0 0; line-height:21px; font-weight:normal;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size:1.5rem;color:@f1}
.team-info li p span{ display:block;height:22px; line-height:22px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;color:@f2}
.recd-by{ padding-left:15px; background:#FCF8F3;}
.recd-by h3{ position:relative;height:40px;padding:4px 0 1px 24px;border-bottom:1px solid #E7E7E7; line-height:40px; font-size:1.3rem; font-weight:normal;color:@f1}
.recd-by h3:before{content:''; position:absolute;left:0;top:18px; display:block;width:15px;height:16px; background-position:0 -110px;}
.recd-by p{ padding:18px 10px 25px 0; color:@f1; font-size:1.5rem;}
.loading{ display:block;width:30px;height:29px;margin:20px auto;background:data-uri("../img/img-loading.png"); background-size:30px 29px;animation: ripple 0.6s linear infinite;}
 @keyframes ripple {
  0% {
    transform:rotate(0deg);
  }
  100% {    
    transform:rotate(360deg);
  }
}
.blank-fixed-bottom{height:95px;}
.fixed-bottom{ position:fixed;left:0;bottom:0; z-index:8;width:100%;height:95px;background:rgba(255,255,255,.85);}
.team-wrap{padding-bottom:8px;}
