@import "../../base/less/globals";

.slogan{
    padding: 1.7rem 0 .16rem;
    background:url('../img/head.jpg') no-repeat center .3rem @beige;
    background-size: 1.6rem auto;
    h3{
        font-size: .22rem;
        line-height: 1.6;
        color: @black_87;
        font-weight: 300;
        text-align: center;
    }
    h4{
        font-size: .15rem;
        font-weight: 300;
        color: @black_87;
        text-align: center;
        line-height: 2;
        span{
            color: #c09151;
        }
    }
}


.content{
    .setExcept(1.5rem);
}

.footer{
    padding: 0 .2rem .36rem;
}

.show-table{
    background: url('../img/slogan.jpg') no-repeat center center;
    background-size: 100% auto;
    padding-top: 70%;
    margin: 0 .6rem;
}
