@import "@{static}/pagescript/launch/base/less/base";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/link";

@bgWidth: 320;
@bgHeight: 1068;

.container {
	padding: 0;
	margin: 0;
	z-index: 1;
}

.bg {
	display: block;
	width: 100%;
}

.content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 480px;
	header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		&.inviter-profile {
			box-sizing: border-box;
			height: 65px;
			background-color: fade(@bg-3,30);
			padding: 15px 10px 10px 66px;
			.portrait {
				position: absolute;
				left: 10px;
				top: 9px;
				width: 48px;
				height: 48px;
				border: 0;
				border-radius: 50%;
			}
			p {
				margin: 0;
				color: @bg-1;
			}
			.profile {
				font-size: 15px;
				span {
					font-size: 12px;
					color: fade(@bg-1,50);
				}
				overflow: hidden;
			    white-space: nowrap;
			    text-overflow: ellipsis;
			}
			.slogan {
				font-size: 12px;
				margin-top: 5px;
			}
		}	
		&.guide .link{
			display: block;
			height: 40px;
			font-size: 15px;
			line-height: 40px;
			text-align: center;
			background-color: @sc;
			color: @bg-1;
			&:after {
				content: "";
				display: inline-block;
				width: 14px;
				height: 14px;
				background: data-uri('../img/img_banner_arrow.png') no-repeat;
				background-size: 100%;
				vertical-align: middle;
   				margin-left: 6px;
			}
		}	
	}
	.middle {
		//margin-top: 30px;
		.percentage(365, @bgWidth,margin-top);
		padding: 0 15px;
		#join {
			box-sizing: border-box;
			height: 44px;
			line-height: 44px;
			font-size: 20px;
			font-weight: 700;
		}
		#contact {
			margin-top: 18px;
		    display: block;
		    text-align: center;
		    font-size: 12px;
		    color: @f2;
		    a {
		    	color: @dc;
		    }
		}
	}
	footer {
		position: absolute;
		//bottom: 41px;
		.percentage(41, @bgHeight,bottom);
		left: 43%;
		right: 0;
		a {
			color: @f2;
			font-size: 13px;
			line-height: 13px;
			&:after {
				content: "";
				display: inline-block;
				width: 9px;
				height: 14px;
				background: data-uri('../img/img_arrow_right_gold.png') no-repeat;
				background-size: 100%;
				vertical-align: top;
   				margin-left: 3px;
			}
		}
	}
}