@import "@{static}/pagescript/comment/base/less/base";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/profile";

header {
    height: 80px;
    line-height: 80px;
    background: data-uri('../img/img_header_bg.png') no-repeat center center;
    background-size: cover;
    font-size: 17px;
    color: @bg-1;
    text-shadow: 0 1px 1px fade(@bg-3, 50%);
    text-align: center;
    &:after {
        content: "";
        display: inline-block;
        width: 55px;
        height: 22px;
        background: data-uri('../img/img_comment_logo_yellow.png') no-repeat center center;
        background-size: 100%;
        vertical-align: -4px;
    }
}

.container {
    padding: 30px 15px 15px;
}

.profile.profile-v {
    overflow: auto;
    white-space: normal;
    box-sizing: border-box;
    padding: 0 5px 20px;
    width: 190px;
    .percentage(190,320,width);
    min-height: 230px;
    border: 1px solid @div;
    .portrait {
        margin-top: 30px;
        width: 80px;
        height: 80px;
    }
    .name {
        color: @f1;
        font-size: 17px;
        text-shadow: none;
        font-weight: 700;
        margin-top: 18px;
    }
    .com,.title {
        color: @f2;
        font-size: 13px;
        margin-top: 10px;
        text-align: center;
    }
}

.counter {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
    .current {
        color: @f1;
        font-weight: 700;
    }
    .all {
        color: @f2;
    }
}

.btn-group {
    margin-top: 50px;
    .btn {
        width: 47.5%;
        &:first-child {
            float: left;
        }
        &:last-child {
            float: right;
        }
    }

}