@import "@{static}/pagescript/prize/base/less/base";
@import "@{static}/modules/base/less/my-normalize";
@import "@{static}/modules/ui/usertype/less/main";
@import "@{static}/common/bootstrap-3.3.5/less/mixins/vendor-prefixes";

html {
	.backgroundImage(4);
}

.banner {
	position: relative;
	width: 324px;
	height: 128px;
	margin: 37px auto 0;
	background:url("@{staticurl}/pagescript/prize/base/img/trophy-title.png") no-repeat right bottom;
	background-size: contain;

	.name {
		position: absolute;
		height: 28px;
		top: 38px;
		left: 125px;
		width: 118px;
		font-size: 25px;
		line-height: 28px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #fff; 
		font-weight: 500;
		text-align: center;
	}
}

.share-btn {
	.btn();
	margin-top: 111px;
}

.award{
	.golden-rect-with-crown();
	width: 168px;
	height: 180px;
	margin: 35px auto 0; 
	padding-top: 19px;
	text-align: center;
	.avatar {
		.avatar();
		background: gray;
	}
	.name {
		font-size: 16px;
		font-weight: 500;
		height: 20px;
		line-height: 20px;
		color: #000;
		margin-top: 12px;
		span {
			color: fade(#000,54%);	
		}
	}
	.other-info {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.54);
		&:nth-child(3) {
			margin-top: 5px;
		}
	}
}

