@import "@{static}/modules/base/less/wx-normalize";

.container {
	padding-top: 40px;
}

.icon {
	width: 55px;
	height: 55px;
	display: block;
	margin: 0 auto;
	background: data-uri('../img/img_verification_pass.png') no-repeat;
	background-size: 100% 100%;
}

.main {
	color: @f1;
	p {
		margin: 0 auto;
		text-align: center;
	}
	.result {		
		margin-top: 22px;
		font-size: 15px;
	}
	.desc {
		font-size: 13px;
	}
	.result + .desc {
		margin-top: 30px;
	}
}

.qr {
	margin-top: 50px;
	img {
		display: block;
		margin: 0 auto;
		width: 140px;
		height: 140px;
	}
	p {
		margin: 20px 0 0 0;
		text-align: center;
		color: @f1;
		font-size: 13px;
	}
}