body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{margin:0;padding:0;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
body{ background:#FFF; -webkit-tap-highlight-color: transparent;}
ul,ol{list-style:none}
html{font-size:62.5%;}
html,body{height:100%;}
a{ text-decoration:none;}
a:hover,a:focus,input:focus{outline:none;}
i,em{ font-style:normal;}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}
.clearfix:after{clear:both}
.pr{ position:relative;}
.pa{ position:absolute;}
.tc{ text-align:center;}
.fl{float:left;}
.fr{float:right;}
.tr{ text-align:right;}
/* public */
.btn-edit{color:#090; font-size:1.6rem;}

.bg-peo{ height:400px; background: url(../images/temp.jpg) center top no-repeat; background-size:100% 400px; overflow:hidden;}
.peo-info{ position:relative; min-height:100px; margin-top:-80px; color:red; font-size:16px;}
.peo-info:before{ position:absolute; left:0; top:50px; content:''; width:100%; height:40px; background:url(../images/bg-peo-down.png) center top no-repeat; background-size:100% 40px; }
.peo-info .fl,.peo-info .fr{margin-top:30px;}
.peo-info span{margin:0 10px 0 5px;}
.peo-info .peo-img{ position:relative; left:50%; width:80px; height:80px; margin:0 0 0 -40px; border:3px solid #FFF; border-radius:100%; background: url(../images/temp.jpg) center center no-repeat; background-size:cover;}
.peo-name h4{ height:30px; padding:0 0 10px; line-height:30px; font-weight:normal; font-size:1.8rem; color:#333;}
.peo-name .btn-edit{right:16px; top:0;}
.peo-name .peo-vip span{ display:inline-block; height:26px; line-height:26px; margin:0 10px; background:red;}
.peo-name .peo-tag{}
.res-tag{ padding:15px 0; overflow:hidden;}
.res-tag span{ display:inline-block; float:left; width:33.33%; height:60px; font-size:1.4rem; color:#666;}
.res-tag span:nth-child(2){ position:relative;}
.res-tag span:nth-child(2):before,.res-tag span:nth-child(2):after{ position:absolute; top:10px; content:''; width:1px; height:40px; background:red; overflow:hidden;}
.res-tag span:nth-child(2):before{left:0;}
.res-tag span:nth-child(2):after{right:0;}
.res-tag span em{ display:block; margin-top:5px;}
.blank-gray{height:10px; background:#EEE; overflow:hidden;}
.tit{height:30px; margin:0 16px; line-height:30px;}
.tit h4{float:left; font-weight:normal;}
.tit a{float:right; color:red;}
.id-info{margin:0 0 0 15px;}
.id-info ul{}
.id-info li{margin-left:30px; padding:5px 0 10px; border-bottom:1px solid #999;}
.id-info li h5{ height:30px; line-height:30px; font-size:1.6rem; font-weight:normal; color:#333;}
.id-info li p{height:30px; line-height:30px; font-size:1.4rem; color:#333;}
.id-info li .cp-tag{}
.id-info li .cp-tag span{ display:inline-block; height:26px; margin-right:10px; padding:0 6px; background:#999; line-height:26px;}