.backgroundImage(@num) when (isnumber(@num)) and (@num = 1){
    background: url("@{staticurl}/pagescript/prize1/base/img/bg-title-1.jpg") no-repeat top center, url("@{staticurl}/pagescript/prize1/base/img/bg-bubble.jpg") no-repeat bottom center;
}

.backgroundImage(@num) when (isnumber(@num)) and (@num = 2){
    background: url("@{staticurl}/pagescript/prize1/base/img/bg-title-2.jpg") no-repeat top center, url("@{staticurl}/pagescript/prize1/base/img/bg-bubble.jpg") no-repeat bottom center;
}

.backgroundImage(@num) when (isnumber(@num)) and (@num = 3){
    background: url("@{staticurl}/pagescript/prize1/base/img/bg-rainbow.jpg") no-repeat top center, url("@{staticurl}/pagescript/prize1/base/img/bg-bubble.jpg") no-repeat bottom center;
}

.backgroundImage(@num) when (isnumber(@num)) and (@num = 4){
    background: url("@{staticurl}/pagescript/prize1/base/img/bg-aurora.jpg") no-repeat top center, url("@{staticurl}/pagescript/prize1/base/img/bg-bubble.jpg") no-repeat bottom center;
}

.backgroundImage(@num){
    background-size: 100% auto;
    background-color: #391C7B;
}
