@import "@{static}/pagescript/event/base/less/base";
@import "@{static}/pagescript/event/base/less/list";
@import "@{static}/modules/ui/load/less/load";
@import "@{static}/pagescript/event/base/less/usertype";
.empty {
	display: none;
	position: fixed;
	top: 50px;
	right: 0;
	left: 0;
	text-align: center;
}

.avatar {
	.usertype();
}
