@import "@{static}/pagescript/account/login/less/main";
@import "../../base/less/global";



.login{
    background-image:url("@{staticurl}/pagescript/chineseCharacter/base/img/bg-bottom.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size: 0;
}

.container{
    padding: .5rem .15rem 0;
    background: transparent;
    .tips {
        color: #fff;
        font-size: .15rem;
    }
    .title{
        font-family: "MFLiHei";
        font-size: .15rem;
        letter-spacing: 1.6px;
        .name{
            color: @dc;
        }
        .gredient{
            .bg-gredient('light');
            -webkit-background-clip:text;
            -webkit-text-fill-color:transparent;
        }
    }
}

.form{
    font-size: 0;
    .district-number{
        .list{
            background-color: #fff;
        }
        &:after{
            z-index: 3;
        }
    }
    .btn-send-code{
        border-radius: 5px;
    }
}

.tc{
    line-height: 1em;
}

.tc-link,
.contact a{
    display: inline-block;
}

.btn,
.btn-login{
    border-radius: 5px;
    font-size: .15rem;
    font-weight: 500;
    text-align: center;
    height: .38rem;
    line-height: .38rem;
    width:420/640*100%;
    margin: 0 auto;
    position: relative;
    transition: .15s ease;
    .bg-gredient('dark');
    border: none;
    &.btn-default{
        .bg-gredient('dark');
        color: #fff;
    }
    &[disabled]{
        opacity: .54;
        background: @bg-2;
        &:before{
            .border-onePX(5px,rgba(37, 237, 198, 1));
        }
        color: @dc;
    }
}
