@import "@{static}/modules/base/less/my-normalize.less";
@import "@{static}/pagescript/trust/base/less/base.less";
@import "@{static}/modules/ui/load/less/load.less";
@import "@{static}/modules/ui/showMsg/less/complete.less";
@import "@{static}/modules/ui/usertype/less/mod.less";
@import "@{static}/modules/ui/danmaku/less/main.less";

.pb{
    padding-bottom: .5px;
}

html{
    height: 100%;
}

body{
    background: #F2F1F0;
}

.header{
    background: url('../../base/img/bgfonts.png') no-repeat @main-color;
    background-position: 0 90px;
    position: relative;
}

.reliable-person{
    background-color: #fff;
    position: relative;
    padding: 0.1px;
    .reliable-person-switch{
        width: 280px;
        height: 28px;
        line-height: 28px;
        margin: 12px auto;
        border-radius: 4px;
        overflow: hidden;
        .display-flex;
        position: relative;
        z-index: 1;
        &:after{
            .border-onePX(@borderRadius:4px);
            z-index: -1;
        }
        & > a {
            .flex(1);
            font-size: 14px;
            text-align: center;
            color: #6B6B6B;
            &.active{
                background-color: @main-color;
                color: #fff;
            }
        }
    }
    .reliable-person-list{
        position: absolute;
        top: 52px;
        left: 0;
        right: 0;
        bottom: 0;
        &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    top: -1px;
                    left: 0;
                    right: 0;
                    height: 12px;
                    z-index: 9;
                    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 90%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 25%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 100%);
                }
        .reliable-person-item{
            .display-flex;
            padding: 12px 0;
            margin: 0 16px;
            position: relative;
            z-index: 1;
            &:after{
                .b-line;
            }
        }
        .reliable-person-link{
            .display-flex();
            .flex(1);
            margin: -12px 0;
            padding: 12px 0;
        }
        .reliable-person-head{
            width: 32px;
            height: 32px;
            margin-right: 8px;
            position: relative;
			.avatar-with-type-icon-onside(18px,32px/2);
        }
        .reliable-person-avatar{
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 50%;
            background-position: 50% 50%;
            background-size: cover;
            & > img {
                width: 100%;
            }
        }
        .reliable-person-name{
            font-size: .15rem;
            color: #111111;
            width: 6em;
            .line-overflow(1);
        }
        .reliable-person-similarity{
            color: #979797;
            font-size: .14rem;
            text-align: center;
            .flex(1);
            & > span{
                color: #4A4A4A;
            }
            &.reliable-person-similarity-alignLeft{
                text-align: left;
                padding-left:14px;
            }
            .txt{
                white-space:nowrap;
                // -webkit-order:1;
                // -webkit-flex: 0 1 auto; /*important*/
                text-overflow: ellipsis;
                overflow:hidden;
                // min-width:0;
                width:10.5em;
                float: right;
                // .line-overflow(1);
            }
        }
        .reliable-person-operation{
            font-size: .14rem;
            padding:12px;
            line-height: 32px;
            margin: -12px 0;
            min-width: 74px;
            display: inline-block;
            &.fc-red{
                color: #FF625C;
            }
            &.fc-blue{
                color: @main-color;
            }
        }
        .reliable-person-scroller{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            &::-webkit-scrollbar{
                display: none;
            }
            & > ul > li:active{
                background-color: #fbfbfb;
            }
        }
    }
}
.fixed-bottom-bar{
    padding: 20px 0;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,.1);
    z-index: 9;
    .fixed-bottom-tips{
        color: #6B6B6B;
        font-size: .14rem;
        line-height: 1.2em;
        text-align: center;
        margin-bottom: 8px;
    }
    .fixed-bottom-btn{
        margin-bottom: 0;
    }
}


//override loading
.loading{
    bottom: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

//override complete
.complete-msg-box{
    bottom:auto;
}
.complete-msg-box .msg-container .msg{
    display: block;
}

.waiting-task-bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px 0;
    background: rgba(58, 169, 120, .8);
    margin: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);

    &.show{
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: .35s linear;
        transition: .35s linear;
        z-index: 9;
    }
    > p {
        color: #fff;
        font-size: 14px;
        text-align: center;
        line-height: 1.2em;
    }

}
