@import "@{static}/pagescript/trust/base/less/base.less";
@import "@{static}/modules/ui/usertype/less/mod";

html {
	background-color: @main-color;
}

.bubble {
	.msg-bubble();
	.avatar {
		overflow: visible;
		.avatar-with-type-icon(16px);
		&:after {
			z-index: 0;
		}
		[class^="icon"] {
			z-index: 1;
		}
	}
}

.canvas-container {
	width: 60%;
	margin: 0 auto;
}

.login {
	text-align: center;
	color: #fff;
	.login-tip {
		margin: 66px 0 44px;
	}
}

.oparation {
	padding: 20px 28px 0px 16px;

	background: @main-color no-repeat left -284px url("@{staticurl}/pagescript/trust/base/img/letter-bg.png");
	text-align: right;
	a {
		margin: 20px 0;
	}
	.cancel-btn,
	.confirm-btn {
		display: inline-block;
		width: 45%;
	}
	.cancel-btn {
		color: #fff;
		text-align: center;
	}
}

.info-container {
	background-color: @bg-color;
	padding: 1px 0;
	.card {
		.white-card();
		margin: 16px 16px ;
		padding: 30px 0 16px;
		.sim-dis {
			position: relative;
			width: 223px;
			margin: 0 auto 0;
			text-align: center;
			.sim-percent {
				padding-top: 5px;
				.number {
					font-size: 24px;
					height: 24px;
					line-height: 24px;
				}
				.label {
					font-size: 14px;
					color:  @f3;
				}
			}
			.avatar {
				position: relative;
				.base-avatar(48px);
				.avatar-with-type-icon(20px);
				border: 3px solid;
				position: absolute;
				.name {
					position: absolute;
					font-size: 13px;
					width: 80px;
					color: #1e1e1e;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					text-align: center;
					bottom: -25px;
					left: -16px;
				}
				&.left {
					left: 0;
					border-color: #ff5364;
				}
				&.right {
					right: 0;
					border-color: #56abe4;
				}
			}
		}
		.radar-container {
			padding: 30px 10px 0;
		}

		.tags {
			padding: 0 10px;
			text-align: center;
			.tag {
				box-sizing: border-box;
				width: 31%;
				vertical-align: top;
				display: inline-block;
				padding: 5px 15px;
				margin-bottom: 5px;
				border-radius: 6px;
				background-color: @bg-2;
				text-align: center;
				font-size: 14px;
				color: #56abe4;
			}

			&.disabled {
				.tag {
					color: @f3;
				}
			}
		}

		.tips{
			font-size: 12px;
			line-height: 16px;
			text-align: center;
			margin-bottom: 10px;
			color: rgba(0,0,0,30%);
			.name{
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				max-width: 5em;
				display: inline-block;
				vertical-align: bottom;
				margin: 0 1px;
			}
		}
	}
}
