@import "@{static}/modules/base/less/page";
@import "@{static}/pagescript/innovation/footer/less/main";
body{
	font-family:"微软雅黑",'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
.img1{
	width:617px;
	height:144px;
	margin:0 0 40px 88px;
	display:block;
}
.img2{
	width:312px;
	height:336px;
	margin:0 0 0 157px;
	display:block;
	background:data-uri("../img/img_qr.png") no-repeat center center;
	background-size:312px 336px;
	padding-top:91px;
	box-sizing:border-box;
	img{
		width:180px;
		height:180px;
		display:block;
		margin:0 auto;
	}
}
.container{
	width:1024px;
	margin:0 auto;
	padding:0px;
	padding-top:40px;
	padding-bottom:105px;
	background:data-uri("../img/img_cover_bg.png") no-repeat center bottom;
	background-size:1025px 440px;
}
.header{
	width:1024px;
	height:75px;
	border-bottom:1px solid #d0d0d0;
	margin:0 auto;
	position:relative;
	.logo{
		position:absolute;
		left:15px;
		bottom:15px;
		width:85px;
		height:30px;
		img{
			width:100%;
			height:auto;
		}
	}
	
}

