.ellip {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item-list {
	display: block;
	padding: 0 15px; 
	.item {
		color: @f1;
		display: block;
		position: relative;
		padding: 15px 15px 15px 63px;
		border-bottom: 1px solid @div;
		&:last-child {
			border-bottom: none;
		}
		text-decoration: none;
		min-height: 45px;
		.avatar {
			position: absolute;
			top: 15px;
			left: 0;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background: no-repeat center center url("@{staticurl}/modules/base/img/default-avatar.png");
			background-size: cover;
		}
		.name {
			margin-top: 4px;
			font-size: 15px;
			.ellip();
		}
		.desc {
			margin-top: 5px;
			font-size: 13px;
			color: @f3;
			padding: 0;
			.ellip();
		}
	}
}
