@import "@{static}/modules/base/less/wx-normalize";
@import "../../base/less/base";
@import "@{static}/pagescript/account/login/less/main";
html {
	.backgroundImage(3);
	min-height: 100% !important;
	.container {
		padding-top: 59px;
		h1 {
			color: #fff;
			&:before {
				background-color: #ffc026;
			}
		}
		background-color: transparent;
	}

	select.list {
		background-color: #fff !important;
	}

	.district-number {
		&:after {
			z-index: 3 !important;
		}
	}

	p.help {
		color: fade(#fff,80%);
	}
	.btn-send-code {
		color: #6453ff;
	}
	.tc:before {
		background-image: url("@{staticurl}/pagescript/prize1/account/img/chk.png");
	}
	.tc.select {
		color: #ffc026;
	}
	.btn-login {
		border: none;
		background-color: #ffc026 !important;
		color: #000 !important;
		&[disabled] {
			background-color: rgba(255,255,255,0.3) !important;
			color: #000 !important;
		}
	}
	.contact {
		position: static;
		margin-bottom: 10px;
		color: #6b6b6b;
		a {
			color: #ffc026;
		}
	}
	.tc-link {
		a {
			color: #ffc026;
		}
	}
}
