@import "@{static}/pagescript/comment/base/less/comment-list";
@import "@{static}/pagescript/comment/base/less/share-box";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/profile";
@import "@{static}/modules/base/less/seperator";
@import "@{static}/modules/base/less/link";
@import "@{static}/modules/ui/popup/less/popup";  
@import "@{static}/modules/base/less/bg";
@import "@{static}/modules/base/less/mask";
@import "@{static}/modules/ui/showMsg/less/complete";
@import "@{static}/pagescript/comment/base/less/base";


.set-mask(10);
.set-tip(10,215px,@dc);

.share-box {
    .main-container {
        .img {
            width: 100px;
            height: 175px;
            background-image: data-uri('../img/img_like_popup.png');
        }
    }
}

.complete-msg-box {
    .msg-container {
        background-color: fade(@sc,90%);
        .msg {
            &:before {
                display: none;
            }
        }
    }
}

.bg.bg-full {
    background-image: data-uri('../img/img_comment_bg_list.png');
}

.container {
    padding: 40px 15px 15px;
}

.comment-list {
    padding: 0;
    background: @bg-1;
    position: relative;
    margin-bottom: 20px;
    .comment-list-detail {
        padding-top: 25px;
        margin-bottom: 0px;        
        .comment-content {
            min-height: 160px;
            line-height: 1.5;
        }
    }
    .profile.profile-h .name {
        max-width: 70px;
    }
    .delete {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        &:before {
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            background: data-uri('../img/btn_delete.png') no-repeat;
            background-size: 100%;
        }
    }
}
.commented {
    display: block;
    text-align: center;
    font-size: 13px;
    color: @sc;
    &:before {
        content: "";
        display: inline-block;
        background: data-uri('../img/img_check_success_yellow.png');
        width: 13px;
        height: 13px;
        background-size: 100%;
        margin-right: 8px;
        vertical-align: -2px;
    }
}

.link {
    margin: 10px 0 0;
    padding: 10px;
    text-align: center;
    color: fade(@bg-1, 60%);
}



