@import "@{static}/pagescript/comment/base/less/base";
@import "@{static}/pagescript/comment/base/less/login-header";
@import "@{static}/modules/base/less/btns";

hr {
    margin: 42px 35px 32px;
    &:before {
        content: "不是正和岛岛邻？";
        display: block;
        width: 104px;
        text-align: center;
        margin: 0 auto;
        position: relative;
        color: @f2;
        font-size: 13px;
        background-color: @bg-1;
        padding: 0 10px;
        top: -7px;
    }
}