@import "../../base/less/globals";
@import "../../partner/less/partner";
@import "@{static}/modules/base/font/SongTi.less";

.popularize{
    background-color: @whiteF2;
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        // display: none;
    }
}

.nav-lead{
    padding: .16rem;
    background-color: #fff;
    margin-bottom: .1rem;
    margin-top: .1rem;
    a{
        .display-flex();
    }
    h3{
        .flex(1);
        color: @black_87;
        font-size: .18rem;
        font-weight: normal;
        line-height: 1.33;
        word-break: break-all;
    }
    .icon{
        color: @warm-grey;
        font-size: .12rem;
        margin-left: .16rem
    }
}

.chance-chart{
    .blockStyle(@padding:0);
    .chart-placeholder{
        background: url('@{staticurl}/pagescript/opportunity/popularize/img/placeholder.jpg') no-repeat center center;
        background-size: 100% auto;
        width: 100%;
        padding-top: 74.6666%;
        display: block;
        position: relative;
        .setting-bar{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            color: #fff;
            font-size: .14rem;
            text-align: right;
            padding: .12rem .16rem;
            background-color: @black_30;
            font-weight: 400;
        }
    }
}

.list-view{
    margin-bottom: .1rem;
    background-color: #fff;
    .list-view-tab{
        padding: 0 .16rem;
        color: @warm-grey;
        font-size: .14rem;
        .display-flex();
        position: relative;
        .active{
            color: @greyish-brown;
            font-weight: 600;
        }
        &:after{
            .b-line(@color:@black_7)
        }
        li{
            .flex(1);
            text-align: center;
            position: relative;
            padding: .12rem 0;
            &.active:after{
                .b-line(4px, @fawn);
                width: 40%;
                margin: 0 30%;
            }
        }
    }
    .list-view-content{
        .more-link{
            color: @dark-fawn;
            font-size: .14rem;
            text-align: center;
            line-height: 1;
            padding: .14rem 0;
            position: relative;
            &:before{
                .t-line(@color:@black_7)
            }
        }
    }
}

.list-empty-tips{
    text-align: center;
    font-size: 0;
    padding: .74rem 0;
    .icon{
        color: #d9d9d9;
        font-size: .85rem;
    }
    p{
        font-size: .17rem;
        color: #b7b7b7;
        line-height: 1.4;
        margin: .16rem 0 ;
    }
    .btn_mini.btn_primary{
        height: .35rem;
        line-height: .35rem;
        display: inline-block;
        font-size: .17rem;
        padding-left: .24rem;
        padding-right: .24rem;
        &:after{
            .border-onePX(
                @borderColor:@fawn;
                @borderRadius:.03rem;
                @borderSize:2px;
            );
        }
    }
}

.helper-box{
    padding: .16rem;
    margin-bottom: .1rem;
    background-color: #fff;
    .helper-call{
        font-size: .14rem;
        margin-left: .16rem;
        color: @warm-grey;
        padding: .04rem
    }
    .helper-title{
        .FF-SongTi;
        font-weight: normal;
        font-size: .15rem;
        margin-bottom: .16rem;
    }
}

.top-bar{
    -webkit-transition: height .3s;
    transition: height .3s;
}

.top-tips{
    background-color: rgba(237, 60, 28, .8);
    padding: .12rem .16rem;
    .display-flex;
    .tips-content{
        .flex(1);
    }
    .tips-title{
        color: #fff;
        font-size: .15rem;
        font-weight: 300;
    }
    .tips-desc{
        color: rgba(255, 255, 255, .7);
        font-size: .12rem;
        font-weight: 300;
    }
    .tips-btn{
        height: .3rem;
        line-height: .3rem;
        font-size: .14rem;
        font-weight: 600;
        text-align: center;
        color: rgba(192, 146, 81, 0.87);
        border-radius: 3px;
        background-color: #fff;
        padding: 0 .1rem;
    }
}

.tips-bar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(96deg, #ffaf22, #e48104);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    font-size: .14rem;
    padding: .16rem 0;
    text-align: center;
    color: #fff;
    line-height: 1;
    .icon{
        margin-right: .06rem;
    }
}
