@import "../../base/less/globals";
@import "@{static}/modules/base/font/SongTi";

.container{
    text-align: center;
    font-size: 0;
    padding: .8rem 0 .4rem;
    .setExcept(.16rem*2 + .44rem);
    .icon{
        font-size: 1.3rem;
        margin-bottom: .44rem;
    }
    .title{
        font-size: .2rem;
        font-weight: 300;
        color: @black_87;
        margin-bottom: .12rem;
    }
    .desc{
        font-size: .14rem;
        color: @black_54;
        font-weight: 300;
        margin-bottom: .4rem;
    }
    .ending-message{
        .FF-SongTi;
        color: @dark-fawn;
        font-size: .24rem;
        font-weight: 900;
        position: relative;
        &::before,
        &::after{
            content: "";
            height: 1px;
            background-color: @dark-fawn;
            width: .3rem;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &::before{
            left: -.14rem - .3rem;
        }
        &::after{
            right: -.14rem - .3rem;
        }
    }
}

.footer{
    padding: .16rem .2rem
}
