.download-banner {
		position: relative;
		box-sizing: border-box;
		padding: 0 55px 0 64px;
		height: 65px;
	.logo {
		position: absolute;
		left: 10px;
		top: 0;
		bottom: 0;
		width: 44px;
		height: 44px;
		margin: auto 0;
		background: no-repeat center center;
		background-image: data-uri('@{staticurl}/pagescript/event/detail/img/img_zhisland_logo_campaign.png');
		background-size: 30px;
		background-color: #fff;
		border: 1px #ebebeb solid;
		border-radius: 12px;
	}
	.name {
		color: @f1;
		font-size: 15px;
		font-weight: 700;
	}
	.desc {
		padding: 3px 0 0;
		color: @f2;
		font-size: 12px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.name {
		position: relative;
		top: 12px;
	}
	.desc {
		position: relative;
		top: 10px;
	}
	.download {
		display: inline-block;
		position: absolute;
		height: 26px;
		border-radius: 4px;
		line-height: 26px;
		text-align: center !important;
		width: 40px !important;
		margin: auto 0;
		top: 0;
		right: 10px;
		bottom: 0;
		width: 55px;
		color: @bg-1;
		background: @dc;
		font-size: 12px;
		text-align: right;
	}
}
