@import "@{static}/modules/ui/user-list/less/main";
.item-list {
	.item {
		padding-right: 45px;
		.friend-label {
			position: absolute;
			color: @dc;
			font-size: 12px;
			top: 0;
			bottom: 0;
			height: 20px;
			line-height: 20px;
			margin: auto 0;
			right: 15px;
		}
	}
}
