.usertype {
	position: absolute;
	width:56px;
	height:56px;
	left: 0;
	top: 15px;
	margin:0 auto 15px;
	.profile{
		width:56px;
		height:56px;
		border-radius:28px;
		overflow:hidden;
		background: data-uri('@{staticurl}/pagescript/event/base/img/img_profile_default.png') center center no-repeat;
		background-size: cover;
		img{
			width:100%;
			height: 100%;
		}
	}
	.icon-identify{
		width:22px;
		height:22px;
		position:absolute;
		bottom:0px;
		right:0px;
	}
	.dolphin{
		background: data-uri('@{staticurl}/pagescript/event/base/img/img_dolphin.png') left center no-repeat;
		background-size:100% auto;
	}
	.eagle{
		background: data-uri('@{staticurl}/pagescript/event/base/img/img_eagle.png') left center no-repeat;
		background-size:100% auto;
	} 
	.lion-gold{
		background: data-uri('@{staticurl}/pagescript/event/base/img/img_lion_gold.png') left center no-repeat;
		background-size:100% auto;
	}
	.lion-green{
		background: data-uri('@{staticurl}/pagescript/event/base/img/img_lion_green.png') left center no-repeat;
		background-size:100% auto;
	}
	.bee{
		background: data-uri('@{staticurl}/pagescript/event/base/img/img_bee.png') left center no-repeat;
		background-size:100% auto;
	}
}
