@import "../../base/less/globals";
.slogan{
    padding: .42rem 0;
    h3{
        font-size: .22rem;
        line-height: 1.6;
        color: @black_87;
        font-weight: 300;
        text-align: center;
        span{
            color: #c09151;
        }
    }
    h4{
        font-size: .15rem;
        font-weight: 300;
        color: @black_54;
        text-align: center;
        line-height: 2;
    }
}

.form-block{
    padding-left: .16rem;
}
.form-label{
    color: @black_87;
    font-size: .15rem;
    line-height: 1;
    display: block;
    padding-right: .16rem;
    .icon{
        font-size: .12rem;
        color: @pinkish-grey;
        float: right;
    }
}
.form-row{
    position: relative;
    font-size: .15rem;
    padding: .16rem 0;
    line-height: 1.33;
    font-weight: 300;
    margin-bottom: .25rem;
    &:after{
        margin-right: -.16rem;
        .b-line(2px, @black_7)
    }
    .form-area{
        position: relative;
        padding-right: .16rem;
        width: 100%;
    }
    .form-control{
        .flex(1);
        width: 100%;
        color: @black_87;
        font-weight: normal;
        &::placeholder{
            color: @black_30;
            font-weight: 300;
        }
    }

    textarea.form-control{
        min-height: 5em*1.4;
        width: 100%;
    }
}
.form-tips{
    color: #ed3c1c;
    font-size: .12rem;
    margin-top: .1rem;
    margin-bottom: -.06rem;
}

.label-container{
    .display-flex;
    .label-box{
        .flex(1);
        font-size: .15rem;
        line-height: 1.33;
        margin-top: (.24rem - .15rem*1.33)/-2;
        margin-left: -.08rem;
        margin-bottom: -.1rem;
        display: inline-block;
        .label-item{
            margin-bottom: .1rem;
            position: relative;
            margin-left: .08rem;
            height: .24rem;
            line-height: .24rem;
            border-radius: 2px;
            padding-left: .08rem;
            padding-right: .08rem;
            display: inline-block;
            color: @black_54;
            &:after{
                .border-onePX(@borderRadius: 2px; @borderColor: @black_10);
            }
            .label-item-close{
                color: @black_30;
                display: inline-block;
            }
        }
    }
}

.container{
    min-height: calc(~'100vh - 1.16rem');
}

.footer{
    padding: .36rem .2rem;
}
