@import "@{static}/modules/base/less/wx-normalize";
@import "@{static}/pagescript/quiz/base/less/base";
@import "@{static}/modules/base/less/btns";

.container {
	padding: 0;
}

.text-part {
	margin: 50px auto 25px;
	width: 90px;
	height: 18px;
	background-image: data-uri('../img/img_we_are_friends.png');
	background-size: 100% 100%;
}
.text-all {
	margin: 25px auto 0px;
	width: 90px;
	height: 23px;
	background-image: data-uri('../img/img_pass_soulmate.png');
	background-size: 100% 100%;	
}
.text-all-reward {
	margin: 20px 0;
	padding: 0 30px;
	font-size: 13px;
	font-weight: 700;
	color: @f1;
	text-align: center;
	p {
		display: inline-block;
		text-align: left;
	}
}

.portraits {
	width: 150px;
	height: 75px;
	margin: 0 auto;
	position: relative;
	.pLeft, .pRight {
		position: absolute;
		top: 0;
		width: 75px;	
		height: 75px;
		border-radius: 50%;	
	}
	.pLeft {		
		left: 0;
	}
	.pRight {		
		right: 0;
	}
}

@baseHeight: 38px;
.matching-part {
	padding-top: 20px;
	.rate {
		width: 165px;
		height: 38px;
		margin: 0 auto;
		background-image: data-uri('../img/img_percent.png');
		background-size: 100% auto;
		background-position: 0 0;		
		&.level10 {
			background-position-y: -1*@baseHeight;	
		}
		&.level20 {
			background-position-y: -2*@baseHeight;	
		}
		&.level30 {
			background-position-y: -3*@baseHeight;	
		}
		&.level40 {
			background-position-y: -4*@baseHeight;	
		}
		&.level50 {
			background-position-y: -5*@baseHeight;	
		}
	}
	p, p a {
		margin: 0;
		padding: 0;
		font-size: 12px;
		color: @f2;
		text-align: center;
		span {
			color: @sc;
		}
	}
	.rate-text {
		padding: 22px 30px 0;
		color: @f1;
		font-size: 13px;
		text-align: center;
		p {
			color: @f1;
			display: inline-block;
			text-align: left;
		}
	}
	.comment-all {
		padding-top: 20px;
		a {
	    	color: @sc;
	    	&:after {
				content: "";
				display: inline-block;
				width: 9px;
				height: 14px;
				background-image: data-uri('../img/img_arrow_right_sc.png');
				background-size: 100% 100%;
				position: relative;
				top: 3px;
				left: 2px;
			}
		}
	}
}
@baseHeight2: 19px;
.matching-all {
	padding-top: 65px;
	box-sizing: border-box;
	width: 245px;
	height: 172px;
	margin: 0 auto;
	background-image: data-uri('../img/img_board_100.png');
	background-size: 100% auto;
	position: relative;
	margin-top: -10px;
	.rate {
		position: absolute;
	    top: 9px;
	    left: 0;
	    right: 0;
		width: 132px;
		height: 19px;
		margin: 0 auto;
		background-image: data-uri('../img/img_percent_2.png');
		background-size: 100% auto;
		background-position: 0 0;		
		&.level70 {
			background-position-y: -1*@baseHeight2;	
		}
		&.level80 {
			background-position-y: -2*@baseHeight2;	
		}
		&.level90 {
			background-position-y: -3*@baseHeight2;	
		}
		&.level100 {
			background-position-y: -4*@baseHeight2;	
		}
	}
	p, p a {
		margin: 0;
		padding: 0;
		font-size: 13px;
		color: @f2;
		text-align: center;
		span {
			color: @sc;
		}
	}
	.award {
		margin-top: 15px;
		font-size: 16px;
		font-weight: 700;
		color: @f1;
	}
	.comment-all {
		position: absolute;
	    bottom: 18px;
	    left: 0;
	    right: 0;		
	    a {
	    	color: @sc;
	    	&:after {
				content: "";
				display: inline-block;
				width: 9px;
				height: 14px;
				background-image: data-uri('../img/img_arrow_right_sc.png');
				background-size: 100% 100%;
				position: relative;
				top: 3px;
				left: 2px;
			}
		}
	}
}

.set-fixed-footer-width(235px, 0, 0, 15px);
.fixed-footer {
	.ranking-all {
		position: relative;
		display: block;
		margin-top: 20px;
		text-align: center;
		font-size: 13px;
		font-weight: 700;
		color: @f2;
		&:after {
			content: "";
			display: inline-block;
			width: 9px;
			height: 14px;
			background-image: data-uri('../img/img_arrow_right_grey.png');
			background-size: 100% 100%;
			position: relative;
			top: 3px;
			left: 2px;
		}
	}
	&.static {
		position: static;
   		padding: 30px 0 15px;
	}
}