@import "@{static}/pagescript/wishing-tree/base/less/base";
html {
	height: 100%;
	.bg-tree-sky();
}

.title {
	position: relative;
	margin: auto;
	.toR(margin-top,80);
	.wish-card(174,442);
	.with-belt();
	&>.text {
		.wish-text(210/2,460/2);		
	}
}

img.qr {
	display: block;
	.toR(width,90);
	margin: auto;
	.toR(margin-top,14);
	.toR(margin-bottom,12);
}

.scan-tip {
	.toR(width,246/2);
	margin: auto;
	text-align: center;
	.toR(font-size,11);
}
