@import "@{static}/pagescript/comment/base/less/base";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/bg";
@import "@{static}/modules/base/less/link";
@import "@{static}/modules/base/less/mask";
@import "@{static}/pagescript/comment/base/less/share-box";

html, body {
    height: 100%;
}

.container {
    padding: 0;
    height: 100%;
    .bg-full {
        background-image: data-uri('../img/img_landing_page_a.png');
    }
    &.vip {
        .bg-full {
            background-image: data-uri('../img/img_landing_page_b.png');
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 110px;
    box-sizing: border-box;
    .link {
        margin: 20px auto;
        font-size: 13px;
        color: fade(@bg-1,70%);
        font-weight: 400;
        &:after {
            content: "";             
            display: inline-block;
            width: 9px;
            height: 14px;
            margin-left: 3px;
            background: data-uri('../img/img_arrow_right_grey.png') no-repeat;
            background-size: 100%;
            vertical-align: -2px;
        }
    }
}

.set-mask(10);
.set-tip(10,215px,@dc);