@import "@{static}/modules/base/less/wx-normalize";
@import "@{static}/modules/base/less/app-invitation";
@import "@{static}/modules/base/less/btns";
@import "@{static}/pagescript/quiz/base/less/base";

@bgWidth: 320;
@bgHeight: 504;

html {
	background-color: @bgImg;
}

.container {
	padding: 0;
	img {
		display: block;
	}
}
.bg {
	width: 100%;
}

.content {
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	right: 0;
	
	.portrait {
		display: block;
		//width:60px;
		.percentage(60, @bgWidth,width);
		//height: 60px;
		.percentage(60, @bgHeight,height);
		margin: 0 auto;
		border-radius: 50%;
		//margin-top: 30px;
		.percentage(30, @bgWidth,margin-top);
	}
	.profile-name {
		//margin-top: 5px;
		.percentage(5, @bgWidth,margin-top);
		font-size: 16px;
		font-weight: 700;
		color: @f1;
		text-align: center;
	}
	.profile-title {
		//margin-top: 10px;
		.percentage(10, @bgWidth,margin-top);
		font-size: 12px;
		color: @f1;
		text-align: center;
	}
	
	.text {		
		position: relative;
		margin: 38px auto 0;
	    padding: 0 25px;
	    box-sizing: border-box;
		width: 240px;
		font-size: 15px;
		font-weight: 700;
		color: @f1;	
		background-image: data-uri('../img/img_chat_bg_b.png');
		background-size: 100% auto;
		background-repeat: repeat-y;
		&:before, &:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			height: 25px;
			background-size: 100% 100%;				
		}
		&:before {
			top: -25px;
			background-image: data-uri('../img/img_chat_bg_a.png');
		}		
		&:after {
			bottom: -25px;
			background-image: data-uri('../img/img_chat_bg_c.png');
		}	
	}
	.qr {
		position: relative;
		z-index: 2;
		margin-top: 35px;
		.qr-text {
			margin: 0px;
			font-size: 14px;
			color: fade(@bg-1, 50%);
			text-align: center;
		}
		img {
			width: 140px;
			height: 140px;
			display: block;
			margin: 0 auto;
			margin-top: 8px;
		}
	}
	.accept {
		width: 240px;
		margin: 0 auto;
		margin-top: 55px;
	}
}

.app-fixed-footer {
	height: 65px;
	background-image: data-uri('../img/img_footer_bg.png');
	z-index: 1;
	.name {
			color: @bg-1;			
		}
		.desc {
			color: @bg-1;			
		}
		.more {
			color: @dc;
			padding: 5px 0 0 0;
			text-align: center;
		}
}