@img-url: "@{staticurl}/pagescript/innovation/base/img/";
input[type="checkbox"] {
	-webkit-appearance: none !important;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: @bg-1;
	border: 1px solid @div;
	&:checked {
		background: url("@{img-url}/tick.png") no-repeat center center;
		background-color: @dc;
		border-color: @dc;
		background-size: 13px;
	}
}

@text-width: 620px;

input[type="text"] {
	&.short {
		width: 390px;
	}
	padding: 15px;
	width: @text-width;
}

textarea {
	padding: 15px;
	width: @text-width;
}

select {
	@width: 390px;
	@arrow-x: @width;
	box-sizing: content-box;
	padding: 15px;
	width: @width;
	border-radius: 0;
	border-color: @div;
	background: url("@{img-url}/arrow-down.png") no-repeat @arrow-x center ;
	background-color: @bg-1;
	border-style: solid;
	border-width: 1px;
	&[disabled] {
		background-color: @bg-2;
		color: @f3;
	}
}
@min-width: 1024px;
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin: 0 auto;
	padding-top: 42px;
	width: @min-width;
	height: 45px;
	border-bottom: 1px solid @div;
	background: url("@{staticurl}/modules/base/img/vi.png") no-repeat 15px 52px;
	background-color: @bg-1;
	background-size: 66px 22px;

	.logout-btn {
		position: absolute;
		right: 10px;
		bottom: 10px;
		width: 58px;
		height: 24px;
		text-align: center;
		line-height: 24px;
		color: @bg-1;
		background-color: @f3;
		border-radius: 6px;
	}
}

.content {
	position: relative;
	box-sizing: border-box;
	width: @min-width;
	margin: 5px auto;
	padding: 140px 0 0 220px;
}
