@import "@{static}/pagescript/launch/base/less/base";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/link";
@import "@{static}/modules/base/less/qr";

.container {
	padding: 40px 15px 15px;
}

.icon {
	width: 55px;
	height: 55px;
	display: block;
	margin: 0 auto;
	background-size: 100% 100%;
	&.icon-joined {
		background-image: data-uri('../img/img_verification_zhisland.png');
	}
	&.icon-complete {
		background-image: data-uri('../img/img_verification_pass.png');
	}
	&.icon-alarm {
		background-image: data-uri('../img/img_verification_alarm.png');
	}
}

.main {
	color: @f1;
	p {
		margin: 0 auto;
		text-align: center;
	}
	.result {		
		margin-top: 22px;
		font-size: 15px;
	}
	.desc {
		font-size: 13px;
	}
	.result + .desc {
		margin-top: 30px;
	}
}

footer {
	margin-top: 85px;
	.link {
		margin-top: 20px;
		&.link-default {
			font-weight: 400;
		}
	}
}

hr {
	margin: 45px auto 0;
    height: 0;
    border: 0;
    border-bottom: 1px solid @sc;
    width: 268px;
    &:after {
    	content: "正和岛微服务";
	    position: relative;
	    top: -8px;
	    display: block;
	    width: 90px;
	    margin: 0 auto;
	    padding: 0 14px;
	    font-size: 15px;
	    color: @f1;
	    white-space: nowrap;
	    background-color: @bg-1;
    }
}

.qrCode {
	margin-top: 30px;
	p {
		color: @f2;
	}
}
