@import "@{static}/modules/base/less/wx-normalize";
@import "@{static}/modules/base/less/btns";
@import "@{static}/pagescript/quiz/base/less/base";

.container {
	background-color: @bg-1;
	padding: 0 0 10px;
}

//button
#change-question {
	height: 18px;
	line-height: 18px;
    float: right;
    width: 75px;
	span {
		position: relative;
		display: inline-block;
		left: 15px;
		width: 48px;
		height: 18px;
		line-height: 18px;
		font-size: 12px;
		color: @bg-1;
		background-color: @div;
		text-align: center;
		border-radius: 5px;

	}
}

.answer-group ul li {
	height: 38px;
	line-height: 38px;
}