@import "@{static}/pagescript/launch/base/less/base";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/link";
@import "@{static}/modules/base/less/mask";
@import "@{static}/modules/ui/load/less/load";

.container {
	padding-bottom: 20px;
}
.invitation-container {
	margin-top: 30px;
	#invitation-link {
	}
	#qr-link {
		margin-top: 15px;
	}
}

hr {
	margin-top: 55px;
    height: 0;
    border: 0;
    border-bottom: 1px solid @div;
    width: 100%;
    &:after {
    	content: "已申请登岛的用户";
	    position: relative;
	    top: -7px;
	    display: block;
	    width: 115px;
	    height: 14px;
	    text-align: center;
	    margin: 0 auto;
	    padding: 0 10px;
	    font-size: 14px;
	    color: @sc;
	    white-space: nowrap;
	    background-color: @bg-1;
    }
    &+.application-list {
    	margin-top: 19px;
    }
}

.application-group {
	.application-detail {
		position: relative;
		box-sizing: border-box;
		height: 70px;
		padding: 18px 70px 0px 60px;
		border-bottom: 1px solid @div;
		.portrait {
			position: absolute;
			left: 0px;
			top: 11px;
			width: 48px;
			height: 48px;
			border: 0;
			border-radius: 50%;
		}
		p {
			margin: 0;
			overflow: hidden;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    line-height: 1;
		}
		.name {
			font-size: 15px;
			color: @f1;
		}
		.title {
			font-size: 13px;
			color: @f2;
			margin-top: 10px;
		}
		.date {
			position: absolute;
			right: 0;
			top: 18px;
			font-size: 12px;
			color: @f3;
		}
	}
}

.application-group:last-child .application-detail:last-child {
	border: 0;
}

.set-mask(10);
.set-tip(10,215px,@dc);