@black_87: rgba(0, 0, 0, 0.87);
@pinkish-grey: #d0cac7;
@black_30: rgba(0, 0, 0, 0.3);
@warm-grey: #8c8582;
@black_54: rgba(0, 0, 0, 0.54);
@blush: #f7a085;
@fawn: #cead7e;
@dark-fawn: #ceac7e;
@dirt_80: rgba(145, 115, 72, 0.8);
@whiteF6: #f6f6f6;
@light-khaki: #f6e1c2;
@beige: #f9f5ee;
@greyish-brown: #5b5755;
@dirt: #917349;
@black_7: rgba(0, 0, 0, 0.07);
@black_10: rgba(0, 0, 0, 0.1);
@black1E: #1e1e1e;
@whiteF2: #f2f2f2;
@whiteEA: #eaeaea;
@golden-yellow: #ffc026;
@tomato: #ed3c1c;
