@import '@{static}/modules/base/less/my-normalize';
@import '@{static}/modules/base/less/mixins';
@import '@{static}/modules/base/less/rem375';
@import "./colors";
@import "./mixins";
@import "./animations";
@import "./widget/button";
@import "./widget/dialog";
@import "./widget/block";
@import "./widget/icon";


input[type=text],
input[type=number],
textarea{
    -webkit-appearance:none;
    appearance:none;
    border:none;
    resize: none;
}
