@import "@{static}/pagescript/forum/base/less/base";
@import "@{static}/modules/ui/load/less/load";

.container {
    padding: 0;
}

.assistance {
    height: 25px;
    background: @sc;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    color: @bg-1;
}

.application-list {
    padding: 0 15px 15px;
    .list-item {
        position: relative;
        display: block;
        height: 75px;
        line-height: 75px;
        .font-main();
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px solid @div;
        &:after {
            content: "";
            width: 9px;
            height: 14px;
            background: data-uri('../img/img_arrow_right_grey.png') no-repeat center center;
            background-size: 100% auto;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto 0;
            position: absolute;
        }
    }
}