@import "../../base/less/global";

.board{
    background: url("../../base/img/transit_text.png") no-repeat center top ;
    background-size: 100% auto;
    width: 70%;
    padding-top: 48.89%;
    margin: 0 auto .4rem;
}

.progressBar{
    width: 76%;
    margin: 0 auto;
    .bar{
        width: 100%;
        height: 8px;
        border-radius: 4px;
        background: rgba(255, 245, 208, .2);
        overflow: hidden;
    }
    .progress{
        width: 0;
        height: 8px;
        background: @pale;
        display: block;
        // -webkit-animation-name:rate;
        // animation-name:rate;
        // -webkit-animation-duration: 5s;
        // animation-duration: 5s;
        // -webkit-animation-fill-mode: both;
        // animation-fill-mode: both
    }
    .tips{
        color: @pale;
        font-size: .16rem;
        text-align: center;
        font-weight: 300;
        line-height: 1.8;
    }
}

@-webkit-keyframes rate {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
@keyframes rate {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
