@import "@{static}/pagescript/event/base/less/base";
@import "@{static}/modules/base/less/btns";
@import "@{static}/modules/base/less/link";
@import "@{static}/modules/base/less/mask";

.container {
	padding: 40px 15px 15px;
}

.icon {
	width: 55px;
	height: 55px;
	display: block;
	margin: 0 auto;
	background:@sc;
	border-radius:28px;
	text-align:center;
	position:relative;
	span{
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-13px;
		margin-left:-12.5px;
		display:inline-block;
		width:25px;
		height:26px;
		background: data-uri('../img/img_campaign_loading.png') no-repeat;
		background-size:100% 100%;
		animation:rotate 1s infinite linear;
		-webkit-animation:rotate 1s infinite linear;
	}
}
@keyframes rotate{
	0% {transform:rotate(0deg);}
	100% {transform:rotate(360deg);}
}
@-webkit-keyframes rotate{
	0% {transform:rotate(0deg);}
	100% {transform:rotate(360deg);}
}

.main {
	color: @f1;
	p {
		margin: 0 auto;
		text-align: center;
	}
	.result {		
		margin-top: 22px;
		font-size: 15px;
	}
	.desc {
		font-size: 13px;
		line-height:20px;
	}
	.result + .desc {
		margin-top: 30px;
	}
}

footer{
	margin-top: 85px;
	position:fixed;
	bottom:30px;
	color:@f2;
	text-align:center;
	width:100%;
	font-size:12px;
	line-height:20px;
	a{
		color:@f2;
	}
}